@charset "utf-8";
@import 'common.css';
@import 'fonts.css';

html,
body {
  height: 100%;
}

.mgt0 {
  margin-top: 0 !important;
}
.mgt8 {
  margin-top: 0.8rem !important;
}
.mgt10 {
  margin-top: 1rem !important;
}
.mgt16 {
  margin-top: 1.6rem !important;
}
.mgt24 {
  margin-top: 2.4rem !important;
}
.mgt25 {
  margin-top: 2.5rem !important;
}
.mgt40 {
  margin-top: 4rem !important;
}
.bgW {
  background: #fff !important;
}
.size-l {
  width: 20rem !important;
}
.size-xl {
  width: 40rem !important;
}
.modal-size-m {
  width: 56rem !important;
}
.modal-size-l {
  width: 72rem !important;
}
.color-red {
  color: #f2303c;
}

.txt-center {
  text-align: center;
}
.vertical-top {
  vertical-align: top;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}
p.note {
  margin-top: 1rem;
}

.ico-req::after {
  content: '*';
  padding-left: 0.5rem;
  color: #f2303c;
}
.error-info {
  position: relative;
  margin: 0.5rem 0;
  color: #f2303c;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  text-align: right;
}
.error-info::before {
  content: '';
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
  background: url(../images/ico_comm.png) -48rem 0;
  vertical-align: middle;
}
.error {
  position: absolute;
  right: 0;
  bottom: 0rem;
  margin-top: 1rem;
  color: #f2303c;
  font-size: 1.2rem;
  font-weight: 500;
}

.wrap {
  position: relative;
  padding: 1.6rem 1.6rem 0 1.6rem;
  min-width: 102.4rem;
  height: 100%;
}
.wrap::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1.6rem;
  background-color: #fff;
}
.wrap.login {
  overflow: hidden;
  padding: 0;
  background-color: #f0eeff;
}
.wrap.login::after {
  display: none;
}
.gnb-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.6rem 1.6rem 0 1.6rem;
  z-index: 101;
}
.gnb-wrap::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 7.2rem;
  background-color: #fff;
}
.gnb-wrap > div {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.2rem;
  padding: 0 2.4rem;
  border-radius: 1.4rem 0 1.4rem 1.4rem;
  border: 0.1rem solid #1a1a1a;
}
.gnb-wrap h1 {
  width: 15.2rem;
  height: 5.2rem;
  margin-top: -0.3rem;
  background: url('../images/logo.png') no-repeat 50% 50%;
  background-size: 100%;
}
.gnb-wrap .links a {
  position: relative;
  display: inline-block;
  padding-right: 2rem;
  font-size: 1.4rem;
  color: #fff;
}
.gnb-wrap .links a::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.8rem;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../images/ico_comm.png) no-repeat -40rem 0;
}
.gnb-wrap .links a + a {
  margin-left: 4.8rem;
}
.gnb-wrap .links .logout {
  position: relative;
  border: 0.1rem solid #fff;
  border-radius: 0.8rem 0 0.8rem 0.8rem;
  font-size: 1.4rem;
  color: #fff;
  padding: 1.2rem 3.6rem 1.2rem 1.6rem;
  margin-left: 4.8rem;
  filter: invert();
}
.gnb-wrap .links .logout::before {
  content: '';
  position: absolute;
  right: 1.6rem;
  top: 1.1rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../images/ico_comm.png) no-repeat -44rem 0;
}
footer {
  position: absolute;
  left: 0;
  padding: 2.5rem 0 2.5rem 22.5rem;
  color: #b9bbc6;
  font-size: 1.4rem;
}

.main-wrap {
  position: relative;
  margin-top: 4rem;
  padding: 5.6rem 0 8rem 20.9rem;
}
.main-wrap .sub-nav {
  position: fixed;
  top: 8.8rem;
  left: 1.6rem;
  bottom: 0;
  background: #f7f8f8;
  border-right: 0.1rem solid #1a1a1a;
  border-radius: 1.6rem 0 0 0;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
}
.main-wrap .sub-nav::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
  border: 0.3rem solid #fff;
}
.main-wrap .sub-nav::-webkit-scrollbar-track {
  background: #efefef;
}
.main-wrap .sub-nav::-webkit-scrollbar-thumb {
  background: #ddd;
}

.main-wrap .sub-nav > ul {
  padding: 1rem 0 0 0.8rem;
}
.main-wrap .sub-nav > ul > li:first-child {
  padding-top: 0;
}
.main-wrap .sub-nav > ul > li {
  padding: 0.5rem 0;
}
.main-wrap .sub-nav > ul > li > a {
  position: relative;
  display: block;
  width: 18.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  padding: 0.5rem 1.6rem;
}
.main-wrap .sub-nav > ul > li > a.on {
  color: #fff;
  background: #1a1a1a;
  border-radius: 0.8rem 0 0 0.8rem;
}
.main-wrap .sub-nav > ul > li > a.mMenu::after {
  content: '';
  position: absolute;
  right: 1.6rem;
  top: 1rem;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../images/ico_comm.png) no-repeat 0 0;
}
.main-wrap .sub-nav > ul > li > a.on::after {
  background-position: -38rem 0rem;
}
.main-wrap .sub-nav > ul > li > a:not(.on):hover {
  color: #fff;
  background: #1a1a1a;
  border-radius: 0.8rem 0 0 0.8rem;
}
.main-wrap .sub-nav > ul > li > a:not(.on):hover::after {
  background-position: -38rem 0;
  transform: rotate(180deg);
}
.main-wrap .sub-nav .sub {
  display: none;
  padding: 0.5rem 0;
}
.main-wrap .sub-nav .sub li {
  margin: 0.4rem 0;
}
.main-wrap .sub-nav .sub li a {
  display: block;
  font-size: 1.4rem;
  line-height: 2.1rem;
  padding: 0.2rem 0 0.2rem 2.4rem;
  color: #74757e;
}
.main-wrap .sub-nav .sub li a:hover {
  color: #1a1a1a;
}
.main-wrap .sub-nav .sub li.current a {
  position: relative;
  color: #000;
  font-weight: 700;
}
.main-wrap .sub-nav .sub li.current a span {
  position: relative;
}
.main-wrap .sub-nav .sub li.current a span::before {
  content: '';
  display: block;
  position: absolute;
  top: 0.1rem;
  right: -1rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #1a58cc;
}
.main-wrap .sub-nav .sub.on {
  position: relative;
  display: block;
  background: #fff;
  border-radius: 0.8rem 0 0 0.8rem;
  border: 0.1rem solid #1a1a1a;
  border-right: 0;
  box-shadow: 0rem 0.2rem 0.4rem rgb(26, 26, 26, 16%);
  margin: 0.4rem -0.1rem 0 0;
}
.main-wrap .sub-nav .sub.on::after {
  content: '';
  position: absolute;
  right: -0.2rem;
  top: 0;
  width: 0.4rem;
  height: 100%;
  background: #fff;
}
.btn-wrap {
  margin-top: 4rem;
  text-align: center;
}

.main-conts {
  position: relative;
}
.main-conts h2 {
  position: relative;
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
}
.main-conts h2::before {
  content: '';
  display: block;
  position: absolute;
  top: 0.5rem;
  right: -1.2rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #1a58cc;
}
.main-conts h3 {
  font-weight: 700;
  font-size: 1.6rem;
}
.main-conts h4 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #73737a;
}

.page-nav {
  position: absolute;
  top: 1.6rem;
  right: 0;
  line-height: 0;
  font-size: 0;
}
.page-nav li {
  display: inline-block;
  position: relative;
  margin-left: 1.6rem;
  padding-left: 1.6rem;
}
.page-nav li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.page-nav li:first-child::after {
  display: none;
}
.page-nav li::after {
  content: '';
  position: absolute;
  top: 0.3rem;
  left: 0;
  width: 0.1rem;
  height: 0.8rem;
  background: #b9bbc6;
}
.page-nav li a {
  color: #73737a;
  font-size: 1.4rem;
}
.page-nav li.current a {
  color: #222;
}
.page-nav + .sub-title {
  margin-top: 1.6rem;
}

.sub-title-util .msg {
  display: inline-block;
}
.sub-title-util .msg + .lb-item {
  margin-left: 2.4rem;
}

.sub-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}
.sub-title:first-child {
  margin-top: 0;
}
.sub-title + .tbl-base {
  margin-top: 0.8rem;
}
.sub-title .msg {
  font-size: 1.4rem;
  color: #73737a;
}
.sub-title .msg.error-info {
  color: #f2303c;
}
.sub-title .msg.error-info::before {
  display: none;
}
.sub-title .count {
  color: #73737a;
  font-size: 1.2rem;
  font-weight: 500;
}
.sub-title .count span {
  color: #222;
  font-weight: 700;
}
.sub-title div .count {
  display: inline-block;
}
.sub-title div .count + .count {
  position: relative;
  margin-left: 0.8rem;
  padding-left: 0.8rem;
}
.sub-title div .count + .count::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.1rem;
  height: 1rem;
  margin-top: -0.5rem;
  background-color: #999;
}

.sub-title .title-info {
  position: relative;
  margin-left: 1rem;
  padding-left: 1rem;
  font-size: 1.6rem;
  color: #74757e;
  font-weight: 500;
}
.sub-title .title-info::before {
  content: '';
  position: absolute;
  top: 0.4rem;
  left: 0;
  width: 0.1rem;
  height: 1rem;
  background: #74757e;
}
.sub-title.type2 {
  justify-content: flex-start;
  gap: 1rem;
}
.sub-title.type2 select:first-of-type {
  margin-left: 1rem;
}
.sub-title .btn {
  margin-left: 1.5rem;
}

.tbl-base {
  border-top: 0.1rem solid #222;
}
.tbl-base table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.4rem;
  font-weight: 400;
  border-bottom: 0.1rem solid #dfe0e2;
}
.tbl-base table thead {
  border-bottom: 0.1rem solid #dfe0e2;
}
.tbl-base table thead tr th {
  color: #222;
  font-size: 1.4rem;
  font-weight: 600;
  background: #f7f8f8;
}
.tbl-base table th {
  color: #73737a;
  font-weight: 500;
  background: #fff;
}
.tbl-base table td {
  color: #222;
  font-weight: 600;
  line-height: 2.1rem;
}
.tbl-base table th,
.tbl-base table td {
  padding: 0.8rem 1rem;
  height: 5rem;
  border-top: 0.1rem solid #dfe0e2;
}
/* .tbl-base table td a {
  text-decoration: underline;
} */
.tbl-base table td a.lock {
  display: inline-flex;
  gap: 0.4rem;
  align-items: center;
}
.tbl-base table td a.lock::after {
  content: '';
  width: 2rem;
  height: 2rem;
  background: url(../images/icon_lock.svg) 50% 50% no-repeat;
  background-size: 100% 100%;
}
.tbl-base table td.lock::after {
  content: '';
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 0.4rem;
  background: url(../images/icon_lock.svg) 50% 50% no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
}
.tbl-base table tbody tr:first-child th,
.tbl-base table tbody tr:first-child td {
  border-top: 0;
}
.tbl-base table tbody ~ tbody {
  border-top: 0.1rem solid #222;
}
.tbl-base.type2 table th {
  height: 5.6rem;
  color: #222;
}
.tbl-base.type2 table {
  text-align: center;
  font-size: 1.4rem;
}
.tbl-base.type2 table ~ table {
  margin-top: 2rem;
  border-top: 0.1rem solid #222;
}
.tbl-base.type2 table thead {
  font-weight: 600;
  border-bottom: 0.1rem solid #222;
  height: 5.6rem;
}
.tbl-base.type2 table thead tr th {
  background: #f7f8f8;
  color: #222;
  font-size: 1.4rem;
  font-weight: 600;
}
.tbl-base.type2 table tbody td {
  height: 5.6rem;
  font-weight: 500;
}

.tbl-base.type2 table tbody td a:hover {
  color: #1a1a1a;
}
.tbl-base.scroll {
  overflow: auto;
  max-height: 33.9rem;
  border-bottom: 0.1rem solid #dfe0e2;
}
.tbl-base.scroll table {
  border-bottom: none;
}
.tbl-base.scroll table thead {
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: none;
}
.tbl-base.scroll table thead tr th {
  position: relative;
}
.tbl-base.scroll table thead tr th:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 0.1rem solid #222;
}
.tbl-base .ui-tablescroll-clone {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.tbl-base .txt-l {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}
.tbl-base .txt-c {
  text-align: center !important;
}
.tbl-base tfoot {
  position: relative;
}
.tbl-base tfoot::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  width: 100%;
  height: 0.1rem;
  background: #fff;
}
.tbl-base table th .btns {
  margin-top: 0.8rem;
}
.tbl-base select {
  width: 100%;
  max-width: 50rem;
}
.tbl-base select ~ select {
  margin-left: 1rem;
}
.tbl-base select ~ .btn {
  margin-left: 1rem;
}
.tbl-base table td.community-cont img {
  max-width: 100%;
}

.tbl-base table tbody tr th.del {
  background-color: #f7f9f8;
}
.tbl-base table tbody tr th.del .btn-delete {
  position: relative;
  width: 2.2rem;
  height: 2.2rem;
  background: #fff;
  border-radius: 50%;
  border: 0.1rem solid #b4b4b4;
}
.tbl-base table tbody tr th.del .btn-delete::after {
  content: '';
  display: block;
  width: 1rem;
  height: 0.2rem;
  margin: 0 auto;
  background-color: #999;
}
.tbl-base.align-left table th {
  background-color: #f7f9f8;
  font-weight: 6 00;
  color: #222;
}
.tbl-base.align-left table th,
.tbl-base.align-left table td {
  text-align: left;
}
.tbl-base.align-left table td {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #74757e;
}
.tbl-base.align-left table td .flex-wrap {
  display: flex;
  gap: 0.8rem;
}

.tbl-base.align-left table td .flex-wrap .inp-text {
  width: calc(100% - 14rem);
}
.tbl-btns.type-small {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}
.tbl-btns.type-small.right {
  justify-content: flex-end;
}
.tbl-btns.type-small .btn {
  width: max-content;
  min-width: 5rem;
  min-height: 3rem;
  padding: 0 1.2rem;
}
.tbl-btns.type-small .radio-btn {
  color: #222;
  border: 0.1rem solid #222;
}
.tbl-btns.type-small .radio-btn.active {
  color: #256ef4;
  font-weight: 600;
  border: 0.1rem solid #256ef4;
  background-color: #fff;
}
.tbl-btns.type-small .radio-btn.active:hover,
.tbl-btns.type-small .radio-btn.active:active {
  color: #fff;
  background-color: #256ef4;
}
.tbl-btns.type-small .apply-btn {
  margin: 0;
}

.ui-tablescroll {
  position: relative;
}
.ui-tablescroll-wrap {
  overflow-y: overlay;
  height: 38rem;
  width: 100%;
}
.ui-tablescroll-wrap.tbl-base {
  border: 0;
}
.ui-tablescroll-clone {
  border-bottom: 0.1rem solid #222;
}
.ui-tablescroll-clone tbody td {
  background: #f7f8f8;
  height: 5rem;
  text-align: center;
}

.apply-btn {
  display: inline-block;
  width: 5.6rem;
  height: 2.4rem;
  padding: 0.3rem 0;
  margin-left: 0.8rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  background: #1a1a1a;
  border-radius: 0.4rem;
}
.apply-btn:hover {
  color: #1a1a1a;
}

.frm-area {
  position: relative;
  line-height: 0;
  font-size: 0;
}
.frm-area * {
  vertical-align: middle;
}
.frm-area [class*='inp-'] + [class*='inp-'] {
  margin-left: 0.8rem;
}
.frm-area [class*='inp-'] + .btn-base {
  margin-left: 0.8rem;
}
.frm-area .txt-error {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #f2303c;
  font-size: 1.4rem;
}
.frm-area .note {
  display: block;
  font-size: 1.2rem;
  color: #73737a;
}
.frm-area .note.left {
  margin: 0 auto 0 0;
  padding-left: 0.8rem;
  flex: none;
}
.frm-area.multi {
  margin-left: -1rem;
}
.frm-area .lb-item {
  padding: 0.5rem 1rem;
}
.frm-area .lb-item:first-child {
  padding-left: 0;
}
.frm-area .lb-title {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  padding-left: 1.5rem;
}
.frm-area .lb-title::before {
  content: '';
  display: block;
  width: 0.2rem;
  height: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #73737a;
}
.frm-area .lb-num {
  display: inline-block;
  width: 2.5rem;
  font-size: 1.4rem;
  line-height: 4rem;
}
.frm-area .lb-num-tit {
  width: 10rem;
}
.frm-area .lb-num ~ .inp-text {
  width: calc(100% - 2.5rem) !important;
}
.frm-area .lb-num ~ .inp-text.nNote {
  width: calc(100% - 9rem) !important;
  margin-right: 0.5rem;
}
.frm-area .lb-num ~ select {
  width: calc(25% - 4.1rem);
  margin-right: 1.1rem;
}
.frm-area .lb-num ~ select:last-child {
  margin-right: 0;
}
.frm-area .lb-num-tit + .lb-item {
  padding-left: 0;
  margin-left: 0;
}

.frm-area.type2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.frm-area.type2 .name {
  font-size: 1.4rem;
  width: 6rem;
  color: #74757e;
  font-weight: 500;
}
.frm-area.type2 .frm-area {
  display: inline-block;
  width: 10rem;
  margin-left: 1.6rem;
}
.frm-area.type2 .lb-item:last-child {
  margin-right: 2.4rem;
}
.frm-area.left {
  justify-content: flex-start;
}
.frm-area.report {
  overflow: hidden;
  overflow-y: scroll;
  padding: 0;
  height: 35.3rem;
}
.frm-area.report .lb-item {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 !important;
  padding-left: 0;
  line-height: 4rem;
  background: #f7f8f8;
}
.frm-area.report .lb-item label {
  display: block;
}

.frm-area.report .lb-item label::before,
.frm-area.report .lb-item label::after {
  display: none;
}
.frm-area.report .lb-item label span {
  position: relative;
  padding-left: 3.2rem;
  color: #74757e;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 4rem;
}
.frm-area.report .lb-item label span::before {
  content: '';
  display: block;
  flex: 0;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #b9bbc6;
  border-radius: 0.4rem;
  background: url(../images/ico_comm.png) no-repeat 0.1rem -4.8rem;
}
.frm-area.report .lb-item input:checked + label {
  background: #fff;
}
.frm-area.report .lb-item input:checked + label span::before {
  background: #1a58cc;
  border-color: #1a58cc;
}
.frm-area.report .lb-item input:checked + label span::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/ico_comm.png) no-repeat -1.8rem -4.6rem;
}
.frm-area .btn-del {
  position: relative;
  top: -0.1rem;
  width: 1.6rem;
  height: 1.6rem;
  text-indent: -999.9rem;
  background: url(../images/ico_comm.png) no-repeat -6rem 0;
  vertical-align: middle;
  margin-left: 0.2rem;
}

.frm-area .btn-text {
  margin-left: 0.8rem;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.frm-area.add-conts {
  display: flex;
  justify-content: start;
  align-items: center;
}
.frm-area.add-conts > div {
  flex-shrink: 0;
  width: calc(100% - 14rem);
  padding-right: 1rem;
  text-align: left;
}
.frm-area.add-conts > div:first-child {
  flex-shrink: 0;
  width: 14rem;
}
.frm-area p.note {
  display: inline-block;
}
.frm-area p.note + p.note {
  width: 100%;
  margin-top: 2rem;
}
.frm-area .btn.base.square ~ p.note {
  margin-top: 0;
  padding-left: 1rem;
}
.frm-area.add-conts .btn-text {
  margin-left: 0;
}
.frm-area .btn + .btn {
  margin-left: 1rem;
}
.frm-area.search {
  overflow: hidden;
}
.frm-area.search .lb-item {
  width: 20%;
  margin: 0.4rem 0;
  float: left;
  text-align: left;
  padding-left: 2.4rem;
}

.frm-area.file {
  display: flex;
  flex-wrap: wrap;
}

.frm-area.file .inputs {
  flex-basis: 18rem;
}
.frm-area.mail-area input,
.frm-area.mail-area select {
  width: 10rem;
  min-width: inherit;
}
.frm-area.mail-area select {
}
.frm-area.mail-area > span {
  display: inline-block;
  font-size: 1.4rem;
  text-align: center;
}
.frm-area.mail-area p.note {
  margin: 0 0 0 1rem;
}
.frm-area .file-indent {
  width: 100%;
  margin-top: 0.8rem;
  padding-left: 2.5rem;
}

.frm-area > strong {
  position: relative;
  padding-left: 1.5rem;
  font-size: 1.6rem;
  font-weight: 700;
}
.frm-area > strong::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.1rem;
  height: 1.4rem;
  margin-top: -0.7rem;
  background-color: #000;
}

.frm-area.flex {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.frm-area.flex .lb-item {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  flex: 1;
}
.frm-area.flex .error-info {
  width: 100%;
  margin: 0;
  text-align: left;
  flex: none;
}
.month-area {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.month-area .btn {
  width: calc(100% / 12);
  min-width: 0 !important;
}

.login-top .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-top .links .logo {
  display: block;
  width: 20rem;
  height: 5.2rem;
  background: url(../images/logo.png) no-repeat 50% 50%;
  background-size: 100% auto;
}
.login-btn {
  margin-top: 2rem;
}

.iod-wrap {
  display: inline-block;
  margin-left: 1rem;
}
.iod-wrap .btn {
  position: relative;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
  min-width: auto;
  min-height: auto;
  border-radius: 0;
  padding: 0;
}
.iod-wrap .btn + .btn {
  margin-left: 0.5rem;
}
.iod-wrap .btn::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.8rem 0 0 -0.8rem;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../images/ico_comm.png) no-repeat -14rem 0;
}
.iod-wrap .btn.minus::after {
  background-position-x: -16rem;
}

.iod-wrap.type2 .btn {
  display: inline-block;
  margin: 0 auto;
}
.iod-wrap.type2 .btn + .btn {
  margin-top: 0.8rem;
}

.edit-info-box {
  margin-top: 0.4rem;
  text-align: right;
}
.edit-info-box .text-error {
  color: #f2303c;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 500;
}
.edit-area {
  height: 35.3rem;
  background: #f7f8f8;
  padding: 1.6rem;
  margin-top: 0.8rem;
  overflow-y: auto;
}

.frm-area.phone {
  display: flex;
  gap: 0.8rem;
}
.frm-area.phone .lb-item {
  flex: none;
  width: 15rem;
  margin: 0;
  padding: 0;
}

.modal-conts .info-title .msg {
  text-align: right;
  font-size: 1.2rem;
  color: #73737a;
}
.frm-area.file-register {
  position: relative;
  display: flex;
}
.file-btn {
  width: 9.6rem;
  height: 4rem;
  padding: 0 0.8rem;
  margin-left: 0.8rem;
  font-size: 1.4rem;
  color: #222;
  text-align: center;
  line-height: 3.8rem;
  border: 0.1rem solid #222;
  border-radius: 0.4rem;
  cursor: pointer;
}
.file-btn .file-inp {
  overflow: hidden;
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.file-text {
  font-size: 1.4rem;
  color: #222;
  padding: 0.3rem 0 0;
  line-height: 2.1rem;
}
.file-del-btn {
  position: relative;
  width: 2rem;
  height: 1.6rem;
  font-size: 0;
}
.file-del-btn::before,
.file-del-btn::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 1.4rem;
  height: 0.1rem;
  margin-top: 0.7rem;
  margin-left: -0.7rem;
  background: #222;
}
.file-del-btn::before {
  transform: rotate(45deg);
}
.file-del-btn::after {
  transform: rotate(135deg);
}
.file-text i {
  display: inline-block;
  margin-left: 2rem;
  color: #73737a;
}
.modal-conts .error-info {
  padding-left: 0.8rem;
  margin: 0.4rem 0 0;
  font-size: 1.2rem;
}
.modal-conts .error-info::before {
  display: none;
}
.modal-conts .error-info::after {
  top: 0;
  left: 0;
  color: #f2303c;
  font-size: 1.2rem;
}

.flex-box {
  display: flex;
  margin-top: 0.8rem;
  justify-content: space-between;
}
.flex-box .count {
  margin: auto 0 0 0;
  color: #73737a;
  font-size: 1.2rem;
  font-weight: 500;
}
.flex-box .count span {
  color: #222;
  font-weight: 700;
}
.flex-box .btn-text {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #222;
  text-decoration: underline;
}
.flex-box.align-center {
  margin-top: 0;
  gap: 0.8rem;
  align-items: center;
  justify-content: flex-start;
}
.flex-box.align-center .tbl-btns {
  display: grid;
  margin: 0;
  flex: none;
  gap: 0.4rem;
  grid-template-columns: repeat(3, 1fr);
}

.flex-box.align-center .tbl-btns .btn {
  min-width: auto;
  min-height: 4.8rem;
  flex: 1;
}
.flex-box.center {
  margin-top: 0;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
}
.flex-box.center span {
  flex: none;
}
.flex-box.center .inp-text {
  flex: none;
  width: 5rem;
}

.menu {
  display: none;
}

.loaderWrap {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
}
.loader::before,
.loader > div::before,
.loader > div::after {
  content: '';
  top: 0;
  position: absolute;
  width: 4rem;
  height: 4rem;
  border: 0.3rem solid #fff;
  border-radius: 50%;
  animation: loader 1.5s infinite linear;
}
.loader::before {
  background-color: #efc128;
}

.loader > div {
  font-size: xx-small;
  text-indent: -999.9rem;
}
.loader > div::before {
  left: -2.5rem;
  background-color: #24a84c;
  animation-delay: -0.5s;
}

.loader > div::after {
  left: 2.5rem;
  background-color: #1a58cc;
  animation-delay: -0.75s;
}

.descript-txt {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.questionnaire {
  position: relative;
  line-height: 4rem;
}
.questionnaire .btns-controll {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  gap: 0.2rem;
}
.questionnaire .btns-controll button {
  font-size: 1rem;
  line-height: 1;
}
.questionnaire .btns-controll button:disabled {
  cursor: default;
  opacity: 0.5;
}
.questionnaire-conts {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.questionnaire-conts .questionnaire-item {
  display: grid;
  width: 100%;
  grid-template-columns: 12.1rem auto;
  gap: 1rem;
}
.questionnaire-category {
  width: max-content;
}
.questionnaire-question {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

.questionnaire-question .frm-area {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.questionnaire-question .frm-area .lb-item {
  margin: 0;
  padding: 0;
}
.questionnaire-question .frm-area .lb-item .inp-text {
  min-width: 10rem;
}
.legend {
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  gap: 0.8rem;
}
.legend .item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.legend .item .color {
  width: 1.2rem;
  height: 1.2rem;
}
.legend .item .color-01 {
  background-color: #94a3b8;
}
.legend .item .color-02 {
  background-color: #3b82f6;
}
.graph-chart {
  display: flex;
  padding-right: 2rem;
  gap: 1rem;
  flex-direction: column;
}
.graph-chart .graph-bar {
  position: relative;
  max-width: 100%;
  height: 1rem;
}
.graph-chart .graph-bar::after {
  content: attr(data-point);
  position: absolute;
  top: 50%;
  right: -2rem;
  width: 2rem;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.graph-chart .graph-bar.graph-bar-01 {
  background-color: #94a3b8;
}
.graph-chart .graph-bar.graph-bar-02 {
  background-color: #3b82f6;
}

@keyframes loader {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 3rem;
    top: 0;
  }
  66% {
    left: 1.5rem;
    top: 3rem;
    transform: scale(0.5);
  }
  100% {
    left: 0;
    top: 0;
  }
}

.is-modal body {
  overflow: hidden;
}
.featured,
.notice {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 1.2rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
}
.notice {
  background-color: #f9a825;
}
.featured {
  background-color: #d32f2f;
}
.authority-list {
  display: flex;
  gap: 0.8rem;
  margin: 1.6rem 0;
  flex-direction: column;
}

.authority-list li {
  width: max-content;
  padding: 0.4rem 0.8rem;
  background-color: #e6e3ff;
  border-radius: 0.4rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.board-view {
  margin-top: 1.6rem;
  border-top: 0.2rem solid #1a1a1a;
  border-bottom: 0.1rem solid #dfe0e2;
}

.board-view .board-info {
  padding: 1.2rem 0.8rem;
  border-bottom: 0.1rem solid #dfe0e2;
}
.board-view .board-info h4 {
  color: #000;
}
.board-view .board-info div {
  display: flex;
  margin-top: 0.8rem;
  gap: 1.6rem;
}
.board-view .board-info div span {
  position: relative;
  font-size: 1.4rem;
}
.board-view .board-info div span + span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -0.8rem;
  width: 0.2rem;
  height: 1.2rem;
  margin-top: -0.6rem;
  background-color: #ccc;
}
.board-view .board-content {
  padding: 1.6rem 0.8rem;
}
.board-view .board-file {
  padding: 0 0.8rem;
  border-top: 0.1rem solid #dfe0e2;
}
.board-view .board-file dl {
  display: grid;
  grid-template-columns: 10rem auto;
}
.board-view .board-file dt,
.board-view .board-file dd {
  padding: 1.6rem 0.8rem;
  border-top: 0.1rem solid #dfe0e2;
  font-size: 1.4rem;
}
.board-view .board-file dt:first-of-type,
.board-view .board-file dd:first-of-type {
  border-top: none;
}

.comment-list {
  margin-top: 1.6rem;
  padding: 1.6rem 0;
  border-top: 0.2rem solid #1a1a1a;
  border-bottom: 0.1rem solid #dfe0e2;
}
.comment-list li {
  display: flex;
  flex-wrap: wrap;
}
.comment-list li .user-name {
  width: 10rem;
  padding: 1.6rem 0.8rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
}
.comment-list li .comment-time {
  font-size: 1.3rem;
}
.comment-list li .comment-cont {
  margin-top: 1.6rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  background-color: #e7efff;
}
.comment-list li div {
  width: calc(100% - 10rem);
  padding: 1.6rem 0.8rem;
}
.comment-list li + li {
  margin-top: 0.8rem;
  padding-top: 0.8rem;
  border-top: 0.1rem solid #dfe0e2;
}
.flex-none {
  flex: none !important;
}
.improvement-list {
  margin-top: 1rem;
  border-top: 0.1rem solid #222;
  border-bottom: 0.1rem solid #dfe0e2;
}
.improvement-list li {
  display: flex;
  padding: 1.6rem 0.8rem;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.6rem 3.2rem;
}
.improvement-list li + li {
  border-top: 0.1rem solid #dfe0e2;
}
.improvement-list li .title {
  max-width: calc(100% - 22rem);
  font-size: 1.5rem;
}
.improvement-list li .info span {
  position: relative;
  font-size: 1.3rem;
  color: #73737a;
}
.improvement-list li .info span + span {
  margin-left: 0.4rem;
  padding-left: 0.5rem;
}
.improvement-list li .info span + span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.1rem;
  height: 1rem;
  margin-top: -0.5rem;
  background-color: #ccc;
}
.improvement-list li .cont {
  width: 100%;
  font-size: 1.4rem;
}

.improvement-list.scroll {
  max-height: 32.2rem;
  overflow-y: auto;
}
.category {
  counter-reset: index;
}
.category li {
  position: relative;
  padding-left: 3rem;
}
.category li + li {
  margin-top: 0.8rem;
}
.category li::before {
  counter-increment: index;
  content: counters(index, '.') '.';
  position: absolute;
  top: 50%;
  left: 0;
  width: 3rem;
}
.category + .tbl-btns.type-small {
  margin: 1.2rem 0 0 3rem;
}
.score-list {
  margin-top: 1rem;
  padding: 2.4rem 1.6rem;
  border-top: 0.1rem solid #222;
  border-bottom: 0.1rem solid #dfe0e2;
}
.score-list li + li {
  margin-top: 1.6rem;
  padding-top: 1.6rem;
  border-top: 0.1rem solid #dfe0e2;
}
.score-list li div {
  display: flex;
  gap: 1.6rem;
  font-size: 1.3rem;
}
.score-list li div span {
  display: flex;
  position: relative;
  gap: 0.4rem;
  align-items: center;
}
.score-list li div span + span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -0.8rem;
  width: 0.1rem;
  height: 1rem;
  margin-top: -0.5rem;
  background-color: #73737a;
}
.score-list li div strong {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
}
.score-list li p {
  margin-top: 1.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #222;
}
.tree-area {
  margin-top: 1rem;
  padding: 2.4rem 1.6rem;
  border-top: 0.1rem solid #222;
  border-bottom: 0.1rem solid #dfe0e2;
}
.tree-area ul {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 1.6rem;
}
.tree-area ul::before {
  content: '';
  position: absolute;
  left: 0.8rem;
  top: 1rem;
  bottom: 1rem;
  width: 0.1rem;
  border-left: 0.1rem dashed #b4b4b4;
}
.tree-area ul li {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}
.tree-area ul ul {
  width: calc(100% - 3rem);
  flex: none;
  margin-left: 3rem;
}
.tree-area ul ul::before {
  display: none;
}
.tree-area ul ul li {
  position: relative;
}
.tree-area ul ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -2rem;
  width: 2rem;
  height: 0.1rem;
  border-top: 0.1rem dashed #b4b4b4;
}
.tree-area div {
  width: 100%;
  flex: none;
}
.tree-area div button {
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  align-items: center;
  gap: 0.4rem;
}
.tree-area div button::before {
  content: '';
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #222;
  background: #fff url(../images/icon_plus.svg) 50% 50% no-repeat;
  background-size: 1.4rem 1.4rem;
  z-index: 1;
}
.tree-area div button.active::before {
  background-image: url(../images/icon_minus.svg);
}
.tree-area div + ul {
  display: none;
  margin-top: 1.2rem;
}

.tree-area div.active + ul {
  display: flex;
  gap: 1.2rem;
}
.tree-area .lb-item {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
}
.tree-area .lb-item label {
  position: static;
  padding: 0;
  font-size: 1.3rem;
  background-color: #fff;
}
.tree-area .lb-item label::after {
  left: auto;
  right: 0;
  transform: scale(0.8);
}
.tree-area > ul > li > .lb-item label {
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  align-items: center;
  gap: 0.4rem;
}
.tree-area > ul > li > .lb-item label::before {
  content: '';
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #222;
  background: #fff url(../images/icon_plus.svg) 50% 50% no-repeat;
  background-size: 1.4rem 1.4rem;
}
.fold-area {
  display: none;
}
.fold-area td div {
  margin-top: 1.2rem;
}
.fold-area td div label {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 600;
  color: #222;
}
.fold-area td div textarea {
  width: 100%;
  height: 8rem;
  margin-top: 0.8rem;
}
.sns {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.sns::before {
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.sns.instagram::before {
  background-image: url(../images/ico_instagram.svg);
}
.sns.x::before {
  background-image: url(../images/ico_sns_x.svg);
}
.sns.facebook::before {
  background-image: url(../images/ico_facebook.svg);
}
.sns.blog::before {
  background-image: url(../images/ico_blog.svg);
}
@media screen and (max-width: 1024px) {
  .page-nav {
    display: none;
  }
  footer {
    width: 100%;
    padding: 1.5rem;
    text-align: center;
  }
  .wrap {
    padding: 0;
  }
  .wrap::after {
    display: none;
  }
  .gnb-wrap {
    padding: 0;
  }
  .gnb-wrap > div {
    border-radius: 0;
  }
  .gnb-wrap .links a {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
  }
  .gnb-wrap .links .logout {
    margin-left: 0.5rem;
    padding: 0 2rem 0 0;
    border: none;
    font-size: 1.3rem;
  }
  .gnb-wrap .links .logout::before {
    top: 50%;
    right: 0;
    margin-top: -0.7rem;
  }
  .main-wrap .sub-nav {
    top: 7.2rem;
    left: -20rem;
  }
  .main-wrap .sub-nav.is-active {
    left: 0;
    border-radius: 0;
  }
  .main-wrap .sub-nav.is-active + .main-conts {
    padding-left: 14.5rem;
  }
  .main-wrap .sub-nav > ul > li > a {
    width: 13rem;
  }
  .main-wrap {
    padding: 8rem 1.5rem 5rem;
  }
  .menu {
    display: block;
    position: fixed;
    top: 8rem;
    left: 0;
    z-index: 11;
    width: 3.6rem;
    height: 3.6rem;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 6l6 6-6 6' fill='none' stroke='%23292929' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.8rem;
    border: 0.1rem solid #1a1a1a;
    border-left: none;
    border-radius: 0 0.8rem 0.8rem 0;
  }

  .menu.open {
    left: 13.8rem;
    background-color: #f7f8f8;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 6l-6 6 6 6' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: 2.4rem;
    border-left: 0;
    border-right: 0.1rem solid #1a1a1a;
  }
  .ui-modal-wrap {
    margin: 0;
    padding: 2.4rem;
    width: calc(100vw - 2.4rem) !important;
    max-width: calc(100vw - 2.4rem) !important;
    min-width: auto;
    max-height: calc(100vh - 2.4rem) !important;
  }
}
