@use '../common/group_variables' as *;
@use '../common/mixins/breakpoints' as *;

@mixin guide-size-variable() {
  --guide--title-font-size: var(--pc-font-size-heading-small);
  --guide--title-margin-bottom: var(--padding-5);
  --guide--margin-bottom: var(--gap-10);
}
.guide {
  @include guide-size-variable();

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-3);
  margin-bottom: var(--guide--margin-bottom);

  &:last-child {
    margin-bottom: 0;
  }

  &.col {
    flex-direction: column;
  }
  > .krds-step-wrap,
  .fieldset,
  .krds-accordion,
  .page-title-wrap {
    width: 100%;
  }

  > .krds-info-list {
    width: calc(50% - (var(--gap-3) / 2));
  }
  .krds-badge-wrap {
    width: 100%;
    margin-bottom: var(--badge--wrap-gap);
    flex-wrap: wrap;

    &:last-child {
      margin: 0;
    }
  }

  .krds-contextual-help {
    margin: auto;
  }
  .krds-coach-mark {
    margin-top: 10rem;
    flex: 1;
  }
}

@include size-medium {
  .guide {
    --guide--title-font-size: var(--mobile-font-size-heading-small);
    --guide--title-margin-bottom: var(--padding-3);
    --guide--margin-bottom: var(--gap-8);
  }
}
