@use '../common/group_variables' as *;
@use '../common/mixins/utils' as *;
@use '../common/mixins/icons' as *;
@use '../common/mixins/breakpoints' as *;
@use '../common/path' as *;

$mode-setting: light;
.g-search-area {
  margin-bottom: var(--number-18);
  padding: 2.4rem;
  border-radius: var(--radius-xlarge1);
  border: 0.1rem solid #e4e5e7;
  background: #f8f8f8;
  @include size-medium {
    margin-bottom: var(--mobile-gap-layout-h1-h2);
  }
  .sch-form-wrap {
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap-5) var(--gap-4);
    .form-conts {
      max-width: 20rem;
      flex-direction: row;
      align-items: center;
      gap: var(--padding-7);
    }
    .sch-input {
      width: 100%;
      max-width: 50rem;
    }
    .krds-btn.neutral {
      width: 10rem;
      background-color: var(--color-light-gray-80);
      border-color: var(--color-light-gray-80);
    }
    @media (max-width: 1279px) {
      .form-conts {
        max-width: 100%;
        width: 100%;
      }
      .sch-input {
        max-width: 100%;
        width: 100%;
      }
      > .krds-btn.small.neutral {
        width: 100%;
      }
    }
  }
  @include size-large-less {
    margin-top: var(--number-8);
  }
  &.type02 {
    label,
    .form-label {
      width: auto;
      font-size: var(--form-group--label-pc-font-size);
      color: var(--light-color-text-subtle);
    }
    .form-conts {
      max-width: max-content;
      .krds-form-select {
        width: 21rem;
      }
    }
    .form-search {
      display: flex;
      justify-content: center;
      gap: var(--gap-4);
      flex: 1;
      @include size-large-to-xlarge {
        width: 100%;
      }
      @include size-large-less {
        width: 100%;
      }
    }
    .form-date {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1.2rem;
    }
    @media (max-width: 1279px) {
      .form-conts {
        max-width: calc(50% - 1.3rem) !important;
        width: calc(50% - 1.3rem);
      }
      .krds-form-select {
        width: 100% !important;
      }
    }
    @include size-medium {
      .form-conts {
        max-width: 100% !important;
        width: 100%;
        label {
          width: 5rem;
          flex: none;
        }
      }
      .bar {
        display: none;
      }
    }
  }
  &.type03 {
    .form-date-wrap {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-start;
      gap: var(--gap-4);
      flex-wrap: wrap;
      flex: none;
      .form-label {
        width: 3.8rem;
        padding-right: var(--padding-2);
        font-size: var(--pc-font-size-body-small);
      }
      .form-date {
        flex: 1;
        @include size-xlarge {
          flex: none;
        }
      }
      .input-group.range.small {
        width: 100%;
        @include size-xlarge {
          width: 32.1rem;
        }
      }
      .krds-btns-wrap {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: start;
        @include size-xlarge {
          max-width: 34.4rem;
        }
        .krds-btn {
          width: 100%;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    .form-search-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      gap: var(--gap-3) var(--gap-9);
      padding-left: 5rem;
    }
    .form-search {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: var(--gap-4);
      flex: 1;
      .sch-input {
        max-width: 100%;
      }
    }
    .krds-check-area {
      width: auto;
      flex: none;
      gap: var(--gap-9);
    }
    @include size-large-to-xlarge {
      .form-date-wrap {
        .form-date {
          flex: 1;
        }
        .input-group.range.small {
          width: auto;
        }
        .krds-btns-wrap {
          width: 100%;
          .krds-btn {
            flex: 1;
          }
        }
      }
      .krds-check-area {
        gap: var(--gap-8);
      }
    }
    @include size-medium {
      .form-date,
      .form-search {
        width: 100%;
        max-width: 100%;
      }
      .form-date-wrap {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap-3);
        .input-group.range.small,
        .krds-btns-wrap {
          width: 100%;
          padding-left: 0;
          .krds-btn {
            width: 100%;
          }
        }
      }
      .form-search-wrap {
        padding-left: 0;
        flex-direction: column;
        .krds-check-area {
          width: 100%;
        }
      }
    }
  }
  .bar {
    width: 0.1rem;
    height: 2.4rem;
    background-color: var(--light-color-divider-gray-light);
  }
}
.card-list {
  display: grid;
  margin-top: var(--number-9);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--number-10) var(--number-9);
  @media (max-width: 1279px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include size-medium-to-large {
    grid-template-columns: 1fr 1fr;
  }
  @include size-medium {
    grid-template-columns: 1fr;
    gap: var(--number-8) var(--number-0);
  }
  li {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: var(--radius-xlarge1);
    border: 1px solid var(--color-light-gray-20);
    background: var(--color-light-gray-0);
  }
  .card-thumbnail {
    display: block;
    position: relative;
  }
  .card-box {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
  .card-conts {
    display: flex;
    padding: var(--number-8) var(--number-9) var(--number-9) var(--number-9);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-4);
    align-self: stretch;
  }
  .card-tit {
    font-size: var(--pc-font-size-heading-xsmall);
    font-weight: var(--font-weight-bold);
    @include ellipsis(2);
  }
  .card-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: var(--gap-4);
  }
  .card-owner {
    display: flex;
    font-size: var(--pc-font-size-body-small);
    gap: var(--number-8);
    strong {
      font-weight: var(--font-weight-regular);
      color: var(--color-light-gray-70);
      & + span {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: calc(var(--number-8) / 2 * -1);
          width: 0.1rem;
          height: 1.2rem;
          margin-top: -0.6rem;
          background: rgba(180, 180, 180, 0.5);
        }
      }
    }
    span {
      color: #1e2124;
    }
  }
  .card-date {
    font-size: var(--pc-font-size-body-xsmall);
    color: #6c7277;
  }
  .krds-badge {
    position: absolute;
    top: var(--gap-4);
    right: var(--gap-4);
    height: var(--number-12);
    padding: 0 var(--gap-4);
    font-size: var(--pc-font-size-heading-xxsmall);
    font-weight: var(--font-weight-bold);
    line-height: var(--number-12);
    color: var(--color-light-gray-0);
    border-radius: var(--radius-max);
    background: var(--color-light-alpha-black50);
  }
  &.type-video {
    .card-thumbnail {
      .timer {
        display: flex;
        position: absolute;
        right: 1.5rem;
        bottom: 1.5rem;
        min-width: 1.625rem;
        height: var(--size-height-5);
        padding: 0 var(--padding-3);
        border-radius: var(--radius-large1);
        font-size: var(--pc-font-size-label-small);
        color: var(--light-color-text-basic-inverse);
        background: var(--light-color-background-dim);
        align-items: center;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
      }
    }
    .card-conts {
      gap: 0;
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .card-hash {
      width: 100%;
      margin-top: var(--gap-4);
      gap: var(--gap-2);
      margin-bottom: var(--number-9);
    }
    .card-meta {
      margin-top: auto;
      display: flex;
      font-size: var(--pc-font-size-body-small);
      color: var(--light-color-text-subtle);
      flex-wrap: wrap;
      gap: 0 var(--number-5);
      div {
        display: flex;
        gap: var(--gap-4);
        align-items: center;
        .bar {
          width: 0.1rem;
          height: 1.6rem;
          background-color: var(--light-color-divider-gray-light);
        }
      }
    }
  }
  & + .krds-btns-wrap {
    margin-top: var(--gap-6);
  }
}
#container {
  .contents {
    .todo-wrap {
      display: grid;
      grid-template-columns: minmax(0, 76fr) minmax(0, 24fr);
      margin-top: var(--gap-9);
      gap: var(--gap-9);
    }
    .todo-box {
      padding: var(--padding-9);
      border-radius: var(--radius-xlarge1);
      border: 0.1rem solid #e4e5e7;
      background: #f8f8f8;
      flex: none;
      @include size-medium {
        padding: var(--padding-6);
      }
      .todo-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .todo-title {
          font-size: var(--pc-font-size-heading-medium);
          color: var(--#{$mode-setting}-color-text-bolder);
          @include size-medium {
            font-size: var(--mobile-font-size-heading-medium);
          }
        }
        .ico-plus {
          @include svg-icon(var(--icon--size-medium));
        }
      }
      .todo-body {
        margin-top: var(--gap-8);
        .todo-list {
          display: flex;
          flex-direction: column;
          gap: var(--gap-8);
          li {
            button {
              display: flex;
              flex-direction: column;
              position: relative;
              width: 100%;
              padding-left: 6rem;
              text-align: left;
              color: var(--color-light-gray-90);
              gap: var(--gap-3);
              @include size-small {
                padding: 6rem 0 0 0;
              }
              .date {
                display: flex;
                font-size: var(--pc-font-size-body-small);
                flex-wrap: wrap;
                @include size-large-less {
                  font-size: var(--mobile-font-size-body-small);
                }
                span {
                  width: max-content;
                  @include size-small {
                    width: auto;
                    max-width: 100%;
                    @include ellipsis(1);
                  }
                }
              }
              .title {
                font-size: var(--pc-font-size-heading-xsmall);
                font-weight: var(--font-weight-bold);
                @include size-large-less {
                  font-size: var(--mobile-font-size-heading-xsmall);
                }
              }
              i {
                position: absolute;
                top: 0.8rem;
                left: 0.8rem;
                width: 2.4rem;
                height: 2.4rem;
                background-color: var(--color-light-gray-80);
              }
              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 4rem;
                height: 4rem;
                border-radius: var(--radius-xlarge1);
                border: 0.1rem solid var(--color-light-gray-20);
                box-shadow: 0.2rem 0.4rem 0.4rem 0 rgba(42, 81, 125, 0.04);
              }
            }
            &.checked {
              button {
                color: var(--color-light-primary-60);
                i {
                  background-color: var(--color-light-primary-60);
                }
                &::before {
                  border-color: var(--color-light-primary-10);
                }
                &::after {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 4.1rem;
                  width: 0.4rem;
                  height: 0.4rem;
                  border-radius: var(--radius-max);
                  background-color: var(--color-light-primary-60);
                }
              }
            }
            @include size-medium {
              width: 100% !important;
              button {
                .date {
                  flex-direction: row;
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 1279px) {
      .todo-wrap {
        grid-template-columns: 1fr;
        .todo-box {
          width: 100%;
          .todo-list {
            flex-wrap: wrap;
            flex-direction: row;
            li {
              width: calc(50% - var(--number-8));
            }
          }
        }
      }
    }
  }
}
.date-setting {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
  .item {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-4);
    align-items: center;
    > span {
      flex: none;
    }
    .calendar-conts {
      width: 17.9rem;
    }
    .time {
      display: flex;
      flex-wrap: wrap;
      gap: var(--gap-4);
      align-items: center;
      flex: 1;
    }
    select {
      max-width: 8.4rem;
    }
    @include size-medium {
      gap: var(--gap-3);
      .calendar-conts {
        width: 100%;
      }
      .time {
        gap: var(--gap-3);
        width: 100%;
        * {
          max-width: 100%;
          flex: 1;
        }
        span {
          flex: none;
        }
        select {
          padding-right: 0;
        }
      }
    }
  }
}
.vote-list {
  display: grid;
  gap: var(--padding-3);
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--padding-3);
    li {
      display: flex;
      gap: var(--padding-3);
      align-items: center;
      .num {
        width: 1.6rem;
        font-size: var(--pc-font-size-label-medium);
        color: var(--light-color-text-subtle);
        & + label {
          font-size: var(--pc-font-size-label-medium);
          color: var(--light-color-text-subtle);
          flex: 1;
          @include ellipsis(1);
        }
      }
      .krds-form-chip-outline {
        width: 6.4rem;
        justify-content: center;
      }
      .krds-input {
        flex: 1;
      }
      .krds-btn {
        display: none;
      }
      &:last-child {
        .krds-btn {
          display: inline-flex;
          align-items: center;
        }
      }
    }
  }
  > .krds-btn {
    margin-left: calc(1.6rem + var(--padding-3));
  }
}
.vote-result {
  display: flex;
  padding: var(--padding-8) var(--padding-6) var(--padding-6) var(--padding-6);
  flex-direction: column;
  gap: var(--padding-6);
  border-radius: var(--radius-xlarge1);
  border: 1px solid var(--light-color-divider-gray-light);
  background: var(--light-color-surface-gray-subtler);
  ul {
    display: flex;
    padding: var(--padding-9);
    border-radius: var(--radius-large1);
    border: 1px solid var(--light-color-border-gray-light);
    background: var(--light-color-background-white);
    flex-direction: column;
    gap: var(--padding-7);
  }
  &-title {
    font-size: var(--pc-font-size-body-large);
    font-weight: var(--font-weight-regular);
    color: var(--light-color-text-basic);
    @include size-medium {
      font-size: var(--mobile-font-size-body-large);
    }
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-2);
  }
  &-label {
    font-size: var(--pc-font-size-body-medium);
    color: var(--light-color-text-subtle);
    @include ellipsis(1);
    @include size-medium {
      font-size: var(--mobile-font-size-body-medium);
    }
  }
  &-value {
    flex: none;
    font-size: var(--pc-font-size-body-small);
    color: var(--light-color-text-subtle);
    @include size-medium {
      font-size: var(--mobile-font-size-body-small);
    }
  }
  &-bar {
    position: relative;
    height: var(--size-height-2);
    margin-top: var(--gap-5);
    border-radius: var(--radius-max);
    background-color: var(--light-color-background-gray-subtle);
    span {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
      height: var(--size-height-2);
      border-radius: var(--radius-max);
      background-color: var(--high-contrast-color-graphic-brand);
    }
    &.type01 span {
      background-color: var(--color-high-contrast-primary-50);
    }
    &.type02 span {
      background-color: var(--color-high-contrast-secondary-50);
    }
    &.type03 span {
      background-color: var(--color-high-contrast-point-50);
    }
    &.type04 span {
      background-color: var(--color-high-contrast-danger-50);
    }
    &.type05 span {
      background-color: var(--color-high-contrast-warning-50);
    }
  }
}
.vote-card-title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-4);
  flex-wrap: wrap;
  .krds-badge {
    min-width: 7rem;
    align-items: center;
    strong {
      font-weight: var(--font-weight-bold);
      &::before {
        content: '\00a0';
      }
    }
  }
  .krds-btns-wrap {
    width: auto;
  }
  & + .vote-card-list {
    margin-top: var(--gap-4);
  }
}
.vote-card-list {
  display: grid;
  gap: var(--gap-6);
  li {
    display: flex;
    padding: var(--pc-padding-card-small);
    border-radius: var(--radius-xlarge1);
    border: 0.1rem solid #e4e5e7;
    justify-content: space-between;
    gap: var(--gap-4);
    flex-wrap: wrap;
    @include size-medium {
      padding: var(--mobile-padding-card-small);
      .left,
      .right {
        width: 100%;
      }
    }
    .left {
      display: grid;
      grid-template-columns: 7rem auto;
      gap: var(--gap-4);
      flex: 1;
      .vote-card-info {
        .title {
          font-size: var(--pc-font-size-heading-small);
          color: var(--light-color-text-bolder);
          @include size-medium {
            font-size: var(--mobile-font-size-heading-small);
          }
        }
        .info-detail {
          display: flex;
          margin-top: var(--gap-2);
          gap: var(--gap-2) var(--gap-5);
          flex-wrap: wrap;
          span {
            position: relative;
            padding-right: var(--gap-5);
            font-size: var(--pc-font-size-body-small);
            color: var(--light-color-text-subtle);
            &::after {
              content: '';
              position: absolute;
              top: 50%;
              right: 0;
              width: 0.1rem;
              height: 1.6rem;
              background-color: var(--light-color-divider-gray);
              transform: translateY(-50%);
            }
            @include size-medium {
              font-size: var(--mobile-font-size-body-small);
            }
            strong {
              display: inline-block;
              font-weight: var(--font-weight-bold);
            }
            & + span {
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
    .right {
      display: flex;
      margin-top: auto;
      justify-content: flex-end;
      align-items: center;
      gap: var(--gap-4);
      flex: none;
      flex-wrap: wrap;
      @include size-small {
        width: 100%;
        justify-content: flex-start;
      }
      .count {
        display: inline-flex;
        align-items: center;
        gap: var(--gap-1);
        flex: none;
        span {
          font-size: 0;
          span {
            font-size: var(--pc-font-size-body-medium);
            color: var(--light-color-text-basic);
          }
          strong {
            font-size: var(--pc-font-size-body-medium);
            font-weight: var(--font-weight-bold);
          }
        }
      }
      .krds-btns-wrap {
        display: flex;
        width: auto;
        gap: var(--gap-4);
        .krds-btn {
          width: 11rem;
        }
        @include size-small {
          width: 100%;
          .krds-btn {
            flex: 1;
          }
        }
      }
    }
    &.end {
      background-color: #f8f8f8;
      .left .vote-card-info .title {
        color: var(--light-color-text-disabled);
      }
    }
  }
}
.question-list {
  display: flex;
  margin-top: var(--number-14);
  flex-direction: column;
  gap: var(--number-14);
  > li {
    display: flex;
    flex-direction: column;
    gap: var(--gap-7);
    padding: var(--pc-padding-card-medium);
    border-radius: var(--radius-xlarge1, 1.2rem);
    border: 0.1rem solid #e4e5e7;
    @include size-medium {
      padding: var(--mobile-padding-card-medium);
    }
    > ul {
      display: flex;
      flex-direction: column;
      gap: var(--gap-6);
      > li {
        padding: var(--pc-padding-card-small);
        border-radius: var(--radius-medium3);
        background: var(--light-color-surface-secondary-subtler);
        @include size-medium {
          padding: var(--mobile-padding-card-small);
        }
      }
    }
  }
  ~ .krds-btns-wrap {
    margin-top: var(--pc-padding-card-medium);
    @include size-medium {
      margin-top: var(--mobile-padding-card-medium);
    }
    .krds-btn {
      width: 20rem;
      flex: none;
    }
  }
}
.question-title {
  font-size: var(--pc-font-size-heading-medium);
  font-weight: var(--font-weight-bold);
  color: var(--light-color-text-bolder);
  @include size-medium {
    font-size: var(--mobile-font-size-heading-medium);
  }
}
.question-cont {
  font-size: var(--pc-font-size-heading-small);
  font-weight: var(--font-weight-bold);
  color: var(--light-color-text-bolder);
  @include size-medium {
    font-size: var(--mobile-font-size-heading-small);
  }
}
.question-select {
  margin-top: var(--gap-6);
  .krds-check-area {
    gap: var(--padding-4) var(--gap-9);
    @include size-small {
      flex-direction: column;
    }
  }
}
.none-question {
  display: flex;
  padding: 6rem var(--padding-9);
  border-radius: var(--radius-xlarge2);
  background: var(--light-color-surface-secondary-subtler);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-4);
  &::before {
    display: inline-flex;
    @include pseudo();
    @include svg-icon($size: 5rem, $mode: #{$mode-setting});
    @include icon-set(ico_nodata, pure);
    flex: none;
  }
  p {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--gap-2);
    strong {
      font-size: var(--pc-font-size-heading-medium);
      color: var(--light-color-text-basic);
      @include size-medium {
        font-size: var(--mobile-font-size-heading-medium);
      }
    }
    span {
      font-size: var(--pc-font-size-body-large);
      color: var(--light-color-text-subtle);
      @include size-medium {
        font-size: var(--mobile-font-size-body-large);
      }
    }
  }
}
.video {
  &-wrap {
    display: grid;
    gap: var(--size-height-5) var(--size-height-9);
    grid-template-columns: minmax(0, 62fr) minmax(0, 38fr);
    @media (max-width: 1279px) {
      grid-template-columns: 1fr;
    }
  }
  &-contents {
    .player-area {
      overflow: hidden;
      position: relative;
      border-radius: var(--radius-xlarge1);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.3);
      }
      .krds-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8.1rem;
        height: 8.1rem;
        transform: translate(-50%, -50%);
        border-radius: 2.8rem;
        border: 0.2rem solid var(--color-light-alpha-white100);
        background: rgba(255, 255, 255, 0.09);
        box-shadow: 0 1.5rem 7.5rem 0 rgba(27, 25, 68, 0.3);
        backdrop-filter: blur(1.3rem);
        &:focus {
          box-shadow: var(--box-shadow-outline);
        }
      }
    }
  }
  &-side {
    padding: var(--padding-9);
    border-radius: var(--radius-xlarge1);
    background: var(--light-color-background-gray-subtler);
    @include size-medium {
      padding: var(--padding-6);
    }
    &-title {
      font-size: var(--pc-font-size-heading-medium);
      font-weight: var(--font-weight-bold);
      color: var(--light-color-text-bolder);
      @include size-medium {
        font-size: var(--mobile-font-size-heading-medium);
      }
    }
    &-list {
      display: grid;
      margin-top: var(--gap-8);
      gap: var(--gap-9);
      li {
        a {
          display: grid;
          grid-template-columns: 15.4rem auto;
          gap: var(--gap-6);
          h5 {
            font-size: var(--pc-font-size-heading-xsmall);
            @include ellipsis(2);
          }
          @include size-medium {
            grid-template-columns: 1fr;
          }
        }
      }
      .thumb {
        overflow: hidden;
        position: relative;
        height: max-content;
        border-radius: var(--radius-medium3);
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
        }
      }
      .video-side-contents {
        display: flex;
        flex-direction: column;
        gap: var(--gap-2);
      }
      @media (max-width: 1279px) {
        grid-template-columns: 1fr 1fr;
        gap: var(--gap-6);
      }
      @include size-medium {
        grid-template-columns: 1fr;
        gap: var(--gap-8);
      }
    }
    .krds-btns-wrap {
      margin-top: var(--gap-9);
    }
  }
}
.video {
  &-detail {
    display: flex;
    flex-direction: column;
    gap: var(--gap-7);
  }
  &-info {
    .krds-tag-wrap {
      margin-top: var(--gap-3);
    }
  }
  &-info-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--gap-4);
  }
  &-title {
    font-size: var(--pc-font-size-heading-medium);
    font-weight: var(--font-weight-bold);
    color: var(--light-color-text-basic);
    @include size-medium {
      font-size: var(--mobile-font-size-heading-medium);
    }
  }
  &-utill {
    display: flex;
    padding: 0.6rem 0.8rem;
    gap: var(--gap-4);
    flex: none;
    @include size-medium {
      padding: 0.4rem 0.8rem;
    }
  }
  &-meta-wrap {
    display: flex;
    margin-top: var(--gap-4);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-4);
  }
  &-meta {
    display: flex;
    gap: var(--gap-4) 0;
    flex-wrap: wrap;
    li {
      position: relative;
      margin-right: var(--gap-4);
      padding-right: var(--gap-4);
      font-size: var(--pc-font-size-body-small);
      color: var(--light-color-text-subtle);
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 0.1rem;
        height: 1.4rem;
        background-color: var(--light-color-divider-gray-light);
        transform: translateY(-50%);
      }

      &:last-child {
        margin-right: 0 !important;
        padding-right: 0 !important;

        &::before {
          display: none;
        }
      }
    }
    &.small {
      flex-wrap: wrap;
      gap: var(--gap-2) 0;
      li {
        margin-right: var(--gap-3);
        padding-right: var(--gap-3);
        font-size: var(--pc-font-size-body-xsmall);
      }
    }
  }
  &-summary {
    display: flex;
    padding-top: var(--pc-padding-card-small);
    flex-direction: column;
    @include size-medium {
      padding-top: var(--mobile-padding-card-small);
    }
    dl {
      > div {
        display: flex;
        gap: var(--gap-6);
        dt {
          width: 10rem;
          height: 3rem;
          font-size: var(--pc-font-size-body-small);
          font-weight: var(--font-weight-bold);
          text-align: center;
          color: var(--light-color-text-disabled);
          line-height: 3rem;
          border-radius: var(--radius-max);
          background: var(--light-color-background-gray-subtler);
          flex: none;
        }
        dd {
          font-size: var(--pc-font-size-body-medium);
          color: var(--light-color-text-subtle);
        }
        & + div {
          margin-top: var(--gap-3);
        }
        .cont {
          @include ellipsis(5);
          max-height: 13rem;
        }
        .krds-btns-wrap {
          margin-top: var(--gap-4);
        }
      }
    }
    &.active {
      .cont {
        display: block;
        overflow: visible;
        max-height: max-content;
        line-clamp: unset;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;
      }
    }
  }
  .rating {
    flex: none;
  }

  &-contents {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-11);

    .comment.type02 + .krds-btns-wrap {
      margin-top: calc(-1 * var(--gap-8));
    }
  }
  &-side {
  }
}
.rating {
  display: flex;
  gap: var(--gap-2);
  &-score {
    font-size: var(--pc-font-size-body-medium);
    font-weight: var(--font-weight-bold);
    color: var(--light-color-text-basic);
  }
  &-stars {
    display: flex;
    align-items: center;
    gap: var(--padding-1);
    span {
      width: 1.6rem;
      height: 1.6rem;
      background: url(#{$url}/img/component/icon/ico_star_off.svg) no-repeat 50% 50% / 1.6rem 1.6rem;
    }
    @for $score from 1 through 5 {
      &[data-score='#{$score}'] {
        span:nth-child(-n + #{$score}) {
          background-image: url(#{$url}/img/component/icon/ico_star_on.svg);
        }
      }
    }
  }
}

.expert-register {
  display: flex;
  gap: var(--gap-9);
  align-items: center;

  @include size-medium {
    flex-direction: column;
    gap: var(--gap-4);
  }
  .profile-img {
    overflow: hidden;
    max-width: 22rem;
    height: fit-content;
    border-radius: var(--radius-xlarge1);
    @include size-medium {
      max-width: 16rem;
    }
  }
  .expert-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--padding-4);
    .expert-name {
      font-size: var(--pc-font-size-heading-small);
      font-weight: var(--font-weight-bold);
      color: var(--light-color-text-bolder);
      @include size-medium {
        font-size: var(--mobile-font-size-heading-small);
      }
    }
    dl {
      width: 100%;
      flex: none;
      div {
        display: grid;
        width: 100%;
        grid-template-columns: 6.8rem auto;
        gap: var(--padding-2) var(--padding-7);

        @include size-small {
          grid-template-columns: 1fr;
        }

        dt {
          font-size: var(--pc-font-size-body-small);
          color: var(--light-color-text-subtle);
          @include size-medium {
            font-size: var(--mobile-font-size-body-small);
          }
        }
        dd {
          display: flex;
          font-size: var(--pc-font-size-body-small);
          color: var(--light-color-text-basic);
          gap: var(--padding-2);
          align-items: center;
          @include size-medium {
            font-size: var(--mobile-font-size-body-small);
          }
          ul {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            gap: 0.8rem var(--padding-4);
            @include size-medium {
              flex-direction: column;
              padding-right: 0;
              &::after {
                display: none;
              }
            }
            li {
              display: flex;
              gap: var(--padding-2);
              align-items: center;
              @include size-small {
                align-items: flex-start;
              }
              a,
              span {
                word-break: break-word;
              }

              i.svg-icon {
                flex: none;
              }

              &:first-child {
                width: 100%;
                flex: none;
              }
              &:nth-child(2) {
                position: relative;
                padding-right: var(--padding-4);
                &::after {
                  content: '';
                  position: absolute;
                  top: 50%;
                  right: 0;
                  width: 0.1rem;
                  height: 1.2rem;
                  background-color: var(--light-color-divider-gray-light);
                  transform: translateY(-50%);
                }
              }
              @include size-medium {
                padding-right: 0;
                &::after {
                  display: none;
                }
              }
            }
          }
        }

        & + div {
          margin-top: var(--padding-3);

          @include size-small {
            margin-top: var(--padding-5);
          }
        }
      }
    }
  }
}

.gary-select-box {
  padding: var(--padding-6) 0;
  border-radius: var(--radius-medium3);
  border: 1px solid var(--light-color-border-gray-light);
  background: var(--light-color-surface-gray-subtler);
  .item {
    display: flex;
    padding: 0 var(--padding-6);
    gap: var(--gap-3);
    flex-wrap: wrap;

    h4 {
      width: 5.1rem;
      flex: none;
      line-height: 4rem;
    }
    > div {
      display: flex;
      width: calc(100% - 5.9rem);
      margin-left: auto;
      gap: var(--gap-3);

      @include size-medium {
        width: 100%;
        margin-left: 0;
        flex-wrap: wrap;

        & + div {
          padding-top: var(--gap-3);
          border-top: 0.1rem solid var(--light-color-border-gray-light);
        }
      }

      div {
        display: flex;
        position: relative;
        width: calc(50% - 3rem);
        max-width: calc(50% - 3rem);
        gap: var(--gap-2);
        @include size-medium {
          width: 100%;
          max-width: 100%;
        }
        @include size-small {
          flex-direction: column;
        }

        & + div {
          width: calc(50% - 2.2rem);
          max-width: calc(50% - 2.2rem);
          padding-left: var(--padding-3);
          flex: 1;
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 0.1rem;
            height: 2rem;
            background-color: var(--light-color-divider-gray-light);
            transform: translateY(-50%);
          }
          @include size-medium {
            width: 100%;
            max-width: 100%;
            padding-left: 0;
            &::after {
              display: none;
            }
          }
          @include size-small {
            flex: none;
          }
        }

        &:nth-of-type(3) {
          flex: none;
          width: 4rem;
          margin-left: -0.4rem;
          padding-left: 0;
          button {
            width: 4rem;
            padding: 0;
          }
          &::after {
            display: none;
          }
          @include size-small {
            width: auto;
            margin-left: 0;
            flex: 1;
            button {
              width: 100%;
            }
          }
        }
      }
    }

    & + .item {
      margin-top: var(--padding-5);
      padding-top: var(--padding-5);
      border-top: 0.1rem solid var(--light-color-border-gray-light);
    }
  }
}

.skill-report {
  display: flex;
  margin-top: var(--gap-9);
  flex-wrap: wrap;
  gap: var(--gap-7);
  @include size-large-less {
    .krds-table-wrap {
      width: calc(100vw - (var(--contents-padding-x) * 2) - (var(--pc-padding-card-medium) * 2)) !important;
      @include size-medium {
        width: calc(100vw - (var(--contents-padding-x) * 2) - (var(--mobile-padding-card-medium) * 2)) !important;
      }
    }
  }
  > div {
    padding: var(--pc-padding-card-medium);
    border-radius: var(--radius-xlarge1);
    border: 0.1rem solid #e4e5e7;
    @include size-medium {
      padding: var(--mobile-padding-card-medium);
    }
    .section-title-wrap {
      padding-bottom: var(--gap-6);
      border-bottom: 0.1rem solid var(--color-light-alpha-black100);
    }
  }
  .report-chart {
    min-width: 33rem;
    flex: 400 1 0;
    @include size-large-less {
      flex: none;
      width: 100%;
    }
    @include size-small {
      min-width: 24rem;
    }
  }
  .report-result {
    display: flex;
    flex-direction: column;
    gap: var(--gap-7);
    flex: 850 1 0;

    dl {
      display: grid;
      grid-template-columns: 6.6rem auto;
      gap: var(--gap-3) var(--gap-6);

      dt {
        font-size: var(--pc-font-size-heading-small);
        font-weight: var(--font-weight-bold);
        color: var(--light-color-text-basic);
        @include size-medium {
          font-size: var(--mobile-font-size-heading-small);
        }
      }
      dd {
        .krds-tag-wrap {
          gap: var(--gap-2);
          .krds-btn-tag {
            font-size: var(--pc-font-size-label-small);
            text-align: center;
            @include size-medium {
              font-size: var(--mobile-font-size-label-small);
              height: auto;
            }
          }
        }
      }
    }
    .krds-table-wrap {
      @include size-medium {
        width: calc(100vw - var(--contents-padding-x) * 2);
      }
      .tbl {
        th,
        td {
          height: 3.8rem;
          padding: var(--padding-2) 0;
          font-size: var(--pc-font-size-body-medium);

          &.my {
            color: var(--light-color-text-primary);
            background-color: var(--light-color-surface-primary-subtler);
          }
          &.average {
            background-color: rgba(255, 177, 20, 0.15);
          }
        }
        thead {
          th {
            border-bottom: 0.1rem solid var(--light-color-border-gray);
          }
        }

        @include size-medium {
          width: 100%;
          min-width: max-content;
        }
      }
    }
    @include size-large-less {
      flex: none;
      width: 100%;
    }
  }
  .report-graph {
    width: 100%;
    flex: none;

    .compare-box {
      display: flex;
      position: relative;
      padding: var(--pc-padding-card-small) var(--pc-padding-card-medium);
      border-radius: var(--radius-medium3);
      background-color: var(--light-color-surface-primary-subtler);
      @include size-medium {
        padding: var(--mobile-padding-card-small) var(--mobile-padding-card-medium);
      }
      flex-wrap: wrap;
      gap: var(--gap-6);

      .form-group {
        width: 100%;
        padding-right: calc(10rem + var(--gap-6));
        gap: var(--gap-6);
        flex-direction: row;
        align-items: center;
        .form-tit {
          min-width: 5.6rem;
          width: auto;
          font-size: var(--pc-font-size-body-large);
          color: var(--light-color-text-basic);
          @include size-medium {
            font-size: var(--mobile-font-size-body-large);
          }
        }
        .form-conts {
          p {
            font-size: var(--pc-font-size-body-large);
            font-weight: var(--font-weight-bold);
            color: var(--light-color-text-basic);
            @include size-medium {
              font-size: var(--mobile-font-size-body-large);
            }
          }
        }
        &.compare {
          padding-right: 0;
        }
        @include size-medium {
          flex: none;
          width: 100%;
          padding-right: 0;
          flex-direction: column;
          align-items: flex-start;
          gap: var(--gap-4);
        }
      }

      .krds-btn {
        flex: none;
        position: absolute;
        right: var(--pc-padding-card-medium);
        bottom: var(--pc-padding-card-small);
        width: 10rem;
        @include size-medium {
          position: static;
          width: 100%;
        }
      }
    }
    .krds-table-info {
      margin-top: var(--gap-9);
    }
    .krds-table-wrap {
      .tbl {
        tbody {
          th,
          td {
            height: 6rem;
            padding: var(--padding-2) var(--size-height-3);
            span {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  & + .krds-btns-wrap {
    margin-top: var(--pc-padding-card-medium);
    @include size-medium {
      margin-top: var(--mobile-padding-card-medium);
    }
  }
}
.gragh-list {
  display: flex;
  flex-direction: column;
  li {
    position: relative;
    height: 2.6rem;
    width: calc(100% - 4.2rem);
    .bar {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      max-width: 100%;
      height: 1rem;
      border-radius: var(--radius-small1);
      transform: translateY(-50%);
      &::after {
        content: attr(data-point);
        position: absolute;
        top: 50%;
        right: calc(-1 * var(--gap-4) - 5rem);
        width: 5rem;
        font-size: var(--pc-font-size-label-small);
        text-align: left;
        transform: translateY(-50%);
      }
    }
    &:nth-child(1) .bar {
      background-color: var(--light-color-element-primary);
    }
    &:nth-child(2) .bar {
      background-color: var(--light-color-element-warning);
    }
  }
}
.legend-list {
  display: flex;
  align-items: center;
  gap: var(--gap-6);
  li {
    display: flex;
    align-items: center;
    gap: var(--gap-3);
    &::before {
      content: '';
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 0.4rem;
    }

    &:nth-child(1)::before {
      background-color: var(--light-color-border-primary);
    }
    &:nth-child(2)::before {
      background-color: var(--light-color-element-warning);
    }
  }
}
//고대비모드
@include color-mode($mode: high-contrast) {
  //모드 설정
  $mode-setting: high-contrast;
}
