@use '../common/group_variables' as *;
@use '../common/mixins/utils' as *;
@use '../common/mixins/icons' as *;
@use '../common/mixins/breakpoints' as *;
@use '../common/path' as *;

$mode-setting: light;
.g-search-area {
  margin-bottom: var(--krds-number-14);
  padding: var(--krds-number-14);
  border-radius: var(--krds-radius-xlarge1);
  border: 0.1rem solid #e4e5e7;
  background: #f8f8f8;
  .sch-form-wrap {
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--krds-number-7);
    .form-conts {
      max-width: 20rem;
    }
    .sch-input {
      max-width: 50rem;
    }
    > .krds-btn {
      width: 10rem;
      background-color: var(--krds-color-light-gray-80);
      border-color: var(--krds-color-light-gray-80);
    }
    // .krds-form-select,
    // .krds-input {
    //   border-color: var(--krds-color-light-gray-30);
    // }
    @media (max-width: 1279px) {
      .form-conts {
        max-width: 100%;
        width: 100%;
      }
      .sch-input {
        max-width: 100%;
        width: 100%;
      }
      > .krds-btn {
        width: 100%;
      }
    }
  }
  @include size-large-less {
    margin-top: var(--krds-number-8);
  }
}

.card-list {
  display: grid;
  margin-top: var(--krds-number-9);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--krds-number-10) var(--krds-number-9);

  @media (max-width: 1279px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include size-medium-to-large {
    grid-template-columns: 1fr 1fr;
  }

  @include size-medium {
    grid-template-columns: 1fr;
    gap: var(--krds-number-8) var(--krds-number-0);
  }

  li {
    position: relative;
    border-radius: 0.75rem;
    border: 1px solid var(--krds-color-light-gray-20);
    background: var(--krds-color-light-gray-0);
  }

  .card-box,
  .card-thumbnail {
    display: block;
  }
  .card-box {
    overflow: hidden;
    border-radius: 0.75rem;
  }

  .card-conts {
    display: flex;
    padding: var(--krds-number-8) var(--krds-number-9) var(--krds-number-9)
      var(--krds-number-9);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--krds-number-7);
    align-self: stretch;
  }
  .card-tit {
    font-size: var(--krds-pc-font-size-heading-xsmall);
    font-weight: var(--krds-font-weight-bold);
  }
  .card-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: var(--krds-number-7);
  }
  .card-owner {
    display: flex;
    font-size: var(--krds-pc-font-size-body-small);
    gap: var(--krds-number-8);
    strong {
      font-weight: var(--krds-font-weight-regular);
      color: var(--krds-color-light-gray-70);
      & + span {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: calc(var(--krds-number-8) / 2 * -1);
          width: 0.1rem;
          height: 1.2rem;
          margin-top: -0.6rem;
          background: rgba(180, 180, 180, 0.5);
        }
      }
    }
    span {
      color: #1e2124;
    }
  }
  .card-date {
    font-size: var(--krds-pc-font-size-body-xsmall);
    color: #6c7277;
  }

  .krds-badge {
    position: absolute;
    top: var(--krds-number-7);
    right: var(--krds-number-7);
    height: var(--krds-number-12);
    padding: 0 var(--krds-number-7);
    font-size: var(--krds-pc-font-size-heading-xxsmall);
    font-weight: var(--krds-font-weight-bold);
    line-height: var(--krds-number-12);
    color: var(--krds-color-light-gray-0);
    border-radius: var(--krds-radius-max);
    background: var(--krds-color-light-alpha-black50);
  }
}
#container {
  .contents {
    .todo-wrap {
      display: grid;
      grid-template-columns: calc(100% - 34rem) 30rem;
      margin-top: var(--krds-gap-9);
      gap: var(--krds-gap-9);

      .tab.full {
        .btn-tab {
          // @include ellipsis(1);
        }
      }
    }
    .todo-box {
      width: 30rem;
      padding: var(--krds-padding-9);
      border-radius: var(--krds-radius-xlarge1);
      border: 0.1rem solid #e4e5e7;
      background: #f8f8f8;
      flex: none;

      .todo-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .todo-title {
          font-size: var(--krds-pc-font-size-heading-medium);
          color: var(--krds-#{$mode-setting}-color-text-bolder);
          @include size-medium {
            font-size: var(--krds-mobile-font-size-heading-medium);
          }
        }
        .ico-plus {
          @include svg-icon(var(--krds-icon--size-medium));
        }
      }
      .todo-body {
        margin-top: var(--krds-gap-8);
        .todo-list {
          display: flex;
          flex-direction: column;
          gap: var(--krds-gap-8);
          li {
            button {
              display: flex;
              flex-direction: column;
              position: relative;
              width: 100%;
              padding-left: 6rem;
              text-align: left;
              color: var(--krds-color-light-gray-90);
              gap: var(--krds-gap-3);
              .date {
                display: flex;
                font-size: var(--krds-pc-font-size-body-small);
                flex-wrap: wrap;

                @include size-large-less {
                  font-size: var(--krds-mobile-font-size-body-small);
                }
                span {
                  width: max-content;
                  flex: none;
                }
              }
              .title {
                font-size: var(--krds-pc-font-size-heading-xsmall);
                font-weight: var(--krds-font-weight-bold);
                @include size-large-less {
                  font-size: var(--krds-mobile-font-size-heading-xsmall);
                }
              }

              i {
                position: absolute;
                top: 0.8rem;
                left: 0.8rem;
                width: 2.4rem;
                height: 2.4rem;
                background-color: var(--krds-color-light-gray-80);
              }
              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 4rem;
                height: 4rem;
                border-radius: var(--krds-radius-xlarge1);
                border: 0.1rem solid var(--krds-color-light-gray-20);
                box-shadow: 0.2rem 0.4rem 0.4rem 0 rgba(42, 81, 125, 0.04);
              }
            }

            &.checked {
              button {
                color: var(--krds-color-light-primary-60);

                i {
                  background-color: var(--krds-color-light-primary-60);
                }
                &::before {
                  border-color: var(--krds-color-light-primary-10);
                }
                &::after {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 4.1rem;
                  width: 0.4rem;
                  height: 0.4rem;
                  border-radius: var(--krds-radius-max);
                  background-color: var(--krds-color-light-primary-60);
                }
              }
            }
            @include size-medium {
              width: 100% !important;
              button {
                .date {
                  flex-direction: row;
                  span {
                  }
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 1279px) {
      .todo-wrap {
        grid-template-columns: 1fr;

        .todo-box {
          width: 100%;
          .todo-list {
            flex-wrap: wrap;
            flex-direction: row;
            li {
              width: calc(50% - var(--krds-number-8));
            }
          }
        }
      }
    }
  }
}
.date-setting {
  display: flex;
  flex-direction: column;
  gap: var(--krds-gap-3);
  .item {
    display: flex;
    flex-wrap: wrap;
    gap: var(--krds-gap-4);
    align-items: center;
    > span {
      flex: none;
    }
    .calendar-conts {
      width: 17.9rem;
    }
    .time {
      display: flex;
      flex-wrap: wrap;
      gap: var(--krds-gap-4);
      align-items: center;
      flex: 1;
    }
    select {
      max-width: 8.4rem;
    }
    @include size-medium {
      gap: var(--krds-gap-3);
      .calendar-conts {
        width: 100%;
      }
      .time {
        gap: var(--krds-gap-3);
        width: 100%;
        * {
          max-width: 100%;
          flex: 1;
        }
        span {
          flex: none;
        }
        select {
          padding-right: 0;
        }
      }
    }
  }
}

.vote-list {
  display: grid;
  gap: var(--krds-padding-3);
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--krds-padding-3);

    li {
      display: flex;
      gap: var(--krds-padding-3);
      align-items: center;

      .num {
        width: 1.6rem;
        font-size: var(--krds-pc-font-size-label-medium);
        color: var(--krds-light-color-text-subtle);
        & + label {
          font-size: var(--krds-pc-font-size-label-medium);
          color: var(--krds-light-color-text-subtle);
          flex: 1;
          @include ellipsis(1);
        }
      }
      .krds-form-chip-outline {
        width: 6.4rem;
        justify-content: center;
      }
      .krds-input {
        flex: 1;
      }

      .krds-btn {
        display: none;
      }

      &:last-child {
        .krds-btn {
          display: block;
        }
      }
    }
  }
  > .krds-btn {
    margin-left: calc(1.6rem + var(--krds-padding-3));
  }
}

.vote-result {
  display: flex;
  padding: var(--krds-padding-8) var(--krds-padding-6) var(--krds-padding-6)
    var(--krds-padding-6);
  flex-direction: column;
  gap: var(--krds-padding-6);
  border-radius: var(--krds-radius-xlarge1);
  border: 1px solid var(--krds-light-color-divider-gray-light);
  background: var(--krds-light-color-surface-gray-subtler);

  ul {
    display: flex;
    padding: var(--krds-padding-9);
    border-radius: var(--krds-radius-large1);
    border: 1px solid var(--krds-light-color-border-gray-light);
    background: var(--krds-light-color-background-white);
    flex-direction: column;
    gap: var(--krds-padding-7);
  }
  &-title {
    font-size: var(--krds-pc-font-size-body-large);
    font-weight: var(--krds-font-weight-regular);
    color: var(--krds-light-color-text-basic);
    @include size-medium {
      font-size: var(--krds-mobile-font-size-body-large);
    }
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--krds-gap-2);
  }
  &-label {
    font-size: var(--krds-pc-font-size-body-medium);
    color: var(--krds-light-color-text-subtle);
    @include ellipsis(1);
    @include size-medium {
      font-size: var(--krds-mobile-font-size-body-medium);
    }
  }
  &-value {
    flex: none;
    font-size: var(--krds-pc-font-size-body-small);
    color: var(--krds-light-color-text-subtle);
    @include size-medium {
      font-size: var(--krds-mobile-font-size-body-small);
    }
  }
  &-bar {
    position: relative;
    height: var(--krds-size-height-2);
    margin-top: var(--krds-gap-5);
    border-radius: var(--krds-radius-max);
    background-color: var(--krds-light-color-background-gray-subtle);

    span {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
      height: var(--krds-size-height-2);
      border-radius: var(--krds-radius-max);
      background-color: var(--krds-high-contrast-color-graphic-brand);
    }

    &.type01 span {
      background-color: var(--krds-color-high-contrast-primary-50);
    }
    &.type02 span {
      background-color: var(--krds-color-high-contrast-secondary-50);
    }
    &.type03 span {
      background-color: var(--krds-color-high-contrast-point-50);
    }
    &.type04 span {
      background-color: var(--krds-color-high-contrast-danger-50);
    }
    &.type05 span {
      background-color: var(--krds-color-high-contrast-warning-50);
    }
  }
}

.vote-card-title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: var(--krds-gap-4);
  flex-wrap: wrap;

  .krds-badge {
    min-width: 7rem;
    align-items: center;
    strong {
      font-weight: var(--krds-font-weight-bold);
      &::before {
        content: '\00a0';
      }
    }
  }
  .krds-btns-wrap {
    width: auto;
  }

  & + .vote-card-list {
    margin-top: var(--krds-gap-4);
  }
}

.vote-card-list {
  display: grid;
  gap: var(--krds-gap-6);

  li {
    display: flex;
    padding: var(--krds-pc-padding-card-small);
    border-radius: var(--krds-radius-xlarge1);
    border: 0.1rem solid #e4e5e7;
    justify-content: space-between;
    gap: var(--krds-gap-4);
    flex-wrap: wrap;

    @include size-medium {
      padding: var(--krds-mobile-padding-card-small);

      .left,
      .right {
        width: 100%;
      }
    }
    .left {
      display: grid;
      grid-template-columns: 7rem auto;
      gap: var(--krds-gap-4);
      flex: 1;
      .vote-card-info {
        .title {
          font-size: var(--krds-pc-font-size-heading-small);
          color: var(--krds-light-color-text-bolder);

          @include size-medium {
            font-size: var(--krds-mobile-font-size-heading-small);
          }
        }
        .info-detail {
          display: flex;
          margin-top: var(--krds-gap-2);
          gap: 0 var(--krds-gap-5);
          flex-wrap: wrap;

          span {
            position: relative;
            padding-right: var(--krds-gap-5);
            font-size: var(--krds-pc-font-size-body-small);
            color: var(--krds-light-color-text-subtle);

            &::after {
              content: '';
              position: absolute;
              top: 50%;
              right: 0;
              width: 0.1rem;
              height: 1.6rem;
              background-color: var(--krds-light-color-divider-gray);
              transform: translateY(-50%);
            }
            @include size-medium {
              font-size: var(--krds-mobile-font-size-body-small);
            }

            strong {
              display: inline-block;
              font-weight: var(--krds-font-weight-bold);
            }

            & + span {
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
    .right {
      display: flex;
      margin-top: auto;
      justify-content: flex-end;
      align-items: center;
      gap: var(--krds-gap-4);
      flex: none;
      flex-wrap: wrap;

      .count {
        display: inline-flex;
        align-items: center;
        gap: var(--krds-gap-1);
        flex: none;
        span {
          font-size: 0;
          span {
            font-size: var(--krds-pc-font-size-body-medium);
            color: var(--krds-light-color-text-basic);
          }
          strong {
            font-size: var(--krds-pc-font-size-body-medium);
            font-weight: var(--krds-font-weight-bold);
          }
        }
      }

      .krds-btns-wrap {
        display: flex;
        width: auto;
        gap: var(--krds-gap-4);

        .krds-btn {
          width: 11rem;
        }
      }
    }

    &.end {
      background-color: #f8f8f8;
      .left .vote-card-info .title {
        color: var(--krds-light-color-text-disabled);
      }
    }
  }
}
//고대비모드
@include color-mode($mode: high-contrast) {
  //모드 설정
  $mode-setting: high-contrast;
}
