@use 'mixins/breakpoints' as *;
@use 'mixins/utils' as *;
@use 'mixins/icons' as *;
@use 'path' as *;

//사이즈 정의
@mixin dropdown-size-variable() {
  --dropdown--menu-radius: var(--radius-medium4);
  --dropdown--menu-padding: var(--padding-3);
  --dropdown--menu-margin-top: var(--padding-6);
  --dropdown--menu-gap: var(--gap-3);
  --dropdown--list-item-radius: var(--radius-medium2);
  --dropdown--list-item-height: var(--size-height-7);
  --dropdown--list-item-pc-font-size: var(
    --pc-font-size-navigation-depth-medium
  );
  --dropdown--list-item-mobile-font-size: var(
    --mobile-font-size-navigation-depth-medium
  );
}

//컬러 정의
@mixin dropdown-color-variable($mode: light) {
  --dropdown--menu-color-border: var(--#{$mode}-color-border-gray-light);
  --dropdown--menu-color-surface: var(--#{$mode}-color-surface-white-subtler);
  --dropdown--menu-color-alpha-shadow:
    0 0 0.2rem 0 var(--#{$mode}-color-alpha-shadow1),
    0 0.4rem 0.8rem 0 var(--#{$mode}-color-alpha-shadow2);
  --dropdown--list-item-color-action-hover: var(
    --#{$mode}-color-action-secondary-hover
  );
  --dropdown--list-item-color-action-pressed: var(
    --#{$mode}-color-action-secondary-pressed
  );
  --dropdown--list-item-color-action-selected: var(
    --#{$mode}-color-action-secondary-selected
  );
  --dropdown--list-item-color-text-selected: var(
    --#{$mode}-color-text-secondary
  );
}

//모드 설정
$mode-setting: light;
/* krds-drop-wrap */
.krds-drop-wrap {
  @include dropdown-size-variable();
  @include dropdown-color-variable(#{$mode-setting});

  display: inline-flex;
  position: relative;
  .drop-menu {
    @include position($t: 100%, $l: 50%);
    display: none;
    z-index: 6;
    min-width: 13rem;
    border-radius: var(--dropdown--menu-radius);
    padding: var(--dropdown--menu-padding);
    margin-top: var(--dropdown--menu-margin-top);
    background-color: var(--dropdown--menu-color-surface);
    border: 0.1rem solid var(--dropdown--menu-color-border);
    box-shadow: var(--dropdown--menu-color-alpha-shadow);
    transform: translateX(-50%);
    &::before {
      @include pseudo();
      @include square(1.2rem);
      @include position($b: 100%, $l: 50%);
      display: block;
      margin-bottom: -0.5rem;
      margin-left: -0.6rem;
      transform: rotate(-135deg);
      background-color: var(--dropdown--menu-color-surface);
      border: 0.1rem solid var(--dropdown--menu-color-border);
      border-top-color: transparent;
      border-left-color: transparent;
    }
    .drop-in {
      @include flex-layout($fd: column, $ai: flex-start);
      gap: var(--dropdown--menu-gap);
      position: relative;
      z-index: 1;
    }
    .drop-top {
      width: 100%;
      padding: var(--padding-3) var(--padding-6);
      border-bottom: 0.1rem solid var(--dropdown--menu-color-border);
    }
    .drop-bottom {
      @include flex-layout($jc: center);
      width: 100%;
      padding: var(--padding-3) 0;
      border-top: 0.1rem solid var(--dropdown--menu-color-border);
    }
    .drop-list {
      width: 100%;
      .item-link {
        @include flex-layout($jc: flex-start, $ai: center);
        width: 100%;
        gap: var(--gap-3);
        padding: 0 var(--padding-6);
        font-size: var(--dropdown--list-item-pc-font-size);
        border-radius: var(--dropdown--list-item-radius);
        height: var(--dropdown--list-item-height);
        background-color: var(--dropdown--menu-color-surface);
        @include size-medium {
          font-size: var(--dropdown--list-item-mobile-font-size);
        }
        .ico-go {
          @include svg-icon(
            $size: var(--icon--size-medium),
            $mode: #{$mode-setting}
          );
        }
        &:hover {
          background-color: var(--dropdown--list-item-color-action-hover);
        }
        &:active {
          background-color: var(--dropdown--list-item-color-action-pressed);
        }
        &.active {
          font-weight: var(--font-weight-bold);
          color: var(--dropdown--list-item-color-text-selected);
          background-color: var(--dropdown--list-item-color-action-selected);
        }
      }
    }
  }
  &.drop-left {
    .drop-menu {
      left: 0;
      right: unset;
      transform: none;
      &::before {
        left: 2.4rem;
        margin-left: 0;
      }
    }
  }
  &.drop-right {
    .drop-menu {
      left: unset;
      right: 0;
      transform: none;
      &::before {
        left: unset;
        right: 2.4rem;
      }
    }
  }
}

//고대비모드
@include color-mode($mode: high-contrast) {
  //모드 설정
  $mode-setting: high-contrast;

  /* krds-drop-wrap */
  .krds-drop-wrap {
    @include dropdown-color-variable(#{$mode-setting});
    .drop-list {
      .item-link {
        .ico-go {
          @include svg-icon(
            $size: var(--icon--size-medium),
            $mode: #{$mode-setting}
          );
        }
      }
    }
  }
}
