<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1, user-scalable=0"
/>
<title>Hi-Coaching Admin</title>
<link
  rel="stylesheet"
  href="../../resources/admin/css/admin.css"
  type="text/css"
/>
<script
  type="text/javascript"
  src="../../resources/admin/js/jquery-2.2.4.min.js"
></script>
<script
  type="text/javascript"
  src="../../resources/admin/js/ui.global.js"
></script>
<script
  type="text/javascript"
  src="../../resources/admin/js/ui.common.js"
></script>
