<!-- 챗봇 팝업 -->
<section id="V-HAI-01-001" class="krds-modal fade" role="dialog" aria-labelledby="tit_V-HAI-01-001">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- modal title -->
      <div class="modal-header">
        <h2 id="tit_V-HAI-01-001" class="modal-title">하이코칭 AI 챗봇</h2>
      </div>
      <!-- //modal title -->
      <!-- modal contents -->
      <div class="modal-conts chatbot">
        <div class="chatbot-wrap">
          <!-- 좌측 최근 대화 -->
          <aside class="chatbot-sidebar">
            <h3>최근 대화</h3>
            <ul>
              <li>
                <button type="button" class="krds-btn small text">교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문</button>
                <button type="button" class="krds-btn icon">
                  <span class="sr-only">삭제</span>
                  <i class="svg-icon ico-del" aria-hidden="true"></i>
                </button>
              </li>
              <li>
                <button type="button" class="krds-btn small text">교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문</button>
                <button type="button" class="krds-btn icon">
                  <span class="sr-only">삭제</span>
                  <i class="svg-icon ico-del" aria-hidden="true"></i>
                </button>
              </li>
              <li>
                <button type="button" class="krds-btn small text">교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문</button>
                <button type="button" class="krds-btn icon">
                  <span class="sr-only">삭제</span>
                  <i class="svg-icon ico-del" aria-hidden="true"></i>
                </button>
              </li>
              <li>
                <button type="button" class="krds-btn small text">교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문</button>
                <button type="button" class="krds-btn icon">
                  <span class="sr-only">삭제</span>
                  <i class="svg-icon ico-del" aria-hidden="true"></i>
                </button>
              </li>
              <li>
                <button type="button" class="krds-btn small text">교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문</button>
                <button type="button" class="krds-btn icon">
                  <span class="sr-only">삭제</span>
                  <i class="svg-icon ico-del" aria-hidden="true"></i>
                </button>
              </li>
              <li>
                <button type="button" class="krds-btn small text">교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문</button>
                <button type="button" class="krds-btn icon">
                  <span class="sr-only">삭제</span>
                  <i class="svg-icon ico-del" aria-hidden="true"></i>
                </button>
              </li>
              <li>
                <button type="button" class="krds-btn small text">교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문</button>
                <button type="button" class="krds-btn icon">
                  <span class="sr-only">삭제</span>
                  <i class="svg-icon ico-del" aria-hidden="true"></i>
                </button>
              </li>
              <li>
                <button type="button" class="krds-btn small text">교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문</button>
                <button type="button" class="krds-btn icon">
                  <span class="sr-only">삭제</span>
                  <i class="svg-icon ico-del" aria-hidden="true"></i>
                </button>
              </li>
              <li>
                <button type="button" class="krds-btn small text">교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문</button>
                <button type="button" class="krds-btn icon">
                  <span class="sr-only">삭제</span>
                  <i class="svg-icon ico-del" aria-hidden="true"></i>
                </button>
              </li>
              <li>
                <button type="button" class="krds-btn small text">교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문</button>
                <button type="button" class="krds-btn icon">
                  <span class="sr-only">삭제</span>
                  <i class="svg-icon ico-del" aria-hidden="true"></i>
                </button>
              </li>
              <li>
                <button type="button" class="krds-btn small text">교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문</button>
                <button type="button" class="krds-btn icon">
                  <span class="sr-only">삭제</span>
                  <i class="svg-icon ico-del" aria-hidden="true"></i>
                </button>
              </li>
              <li>
                <button type="button" class="krds-btn small text">교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문교육과정 질문</button>
                <button type="button" class="krds-btn icon">
                  <span class="sr-only">삭제</span>
                  <i class="svg-icon ico-del" aria-hidden="true"></i>
                </button>
              </li>
            </ul>
          </aside>

          <div class="chatbot-container">
            <!-- 채팅 영역 -->
            <div class="chatbot-content">
              <p class="fiexd">하이코칭 서비스관련 질문에 대하여 답변이 가능합니다.</p>
              <!-- 사용자 메시지 -->
              <div class="chat-message user">
                <div class="bubble">
                  <p>OO연수 추천해 줘</p>
                </div>
              </div>
              <!-- 봇 메시지  로딩 중 case -->
              <div class="chat-message bot">
                <div class="bubble">
                  <div class="loading-dots" role="status" aria-live="polite" aria-busy="true">
                    <span class="sr-only">답변 준비 중</span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </div>
                </div>
              </div>
              <!-- 봇 메시지  답변 완료 case -->
              <div class="chat-message bot">
                <div class="bubble">
                  <p>OO과 관련된 연수에는 경기도남부 연수원 OO과정[출처 : 경기도남부연수원 연구운영 기본계획], 경기도북부연수원 OO과정[출처 : 경기도북부연수원 연구운영 기본계획] 이 있습니다.</p>
                  <div class="krds-btns-wrap">
                    <a href="#" class="krds-btn medium link basic"
                      >관련문서 링크
                      <i class="svg-icon ico-go" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="krds-btn medium link basic"
                      >홈페이지 링크
                      <i class="svg-icon ico-go" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="krds-btns-wrap">
                  <button type="button" class="krds-btn text open-modal" data-target="V-HAI-01-001_02">
                    <i class="svg-icon ico-star-on medium" aria-hidden="true"></i>
                    평점주기
                  </button>
                  <span class="bar" aria-hidden></span>
                  <button type="button" class="krds-btn text open-modal" data-target="V-HAI-01-001_03">
                    <i class="svg-icon ico-face-smile medium" aria-hidden="true"></i>
                    사용의견
                  </button>
                </div>
              </div>
            </div>
            <!-- 입력 필드 -->
            <div class="chat-inner">
              <div>
                <input type="text" placeholder="하이코칭 AI에게 물어보세요" aria-label="챗봇 프롬프트 입력" />
                <button type="button" class="krds-btn icon">
                  <span class="sr-only">AI 챗봇 검색하기</span>
                  <i class="svg-icon ico-send" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- //modal contents -->
      <!-- modal btn -->
      <!-- //modal btn -->
      <!-- close button -->
      <button type="button" class="krds-btn medium icon btn-close close-modal">
        <span class="sr-only">닫기</span>
        <i class="svg-icon ico-popup-close" aria-hidden="true"></i>
      </button>
      <!-- //close button -->
    </div>
  </div>
  <div class="modal-back"></div>
</section>

<!-- 평점주기 팝업 -->
<section id="V-HAI-01-001_02" class="krds-modal fade" role="dialog" aria-labelledby="tit_V-HAI-01-001_02">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- modal title -->
      <div class="modal-header">
        <h2 id="tit_V-HAI-01-001_02" class="modal-title">평점주기</h2>
      </div>
      <!-- //modal title -->
      <!-- modal contents -->
      <div class="modal-conts">
        <div class="krds-check-area">
          <div class="krds-form-check">
            <input type="radio" name="rdo-rating" id="rdo-rating_01" />
            <label for="rdo-rating_01">1점</label>
          </div>
          <div class="krds-form-check">
            <input type="radio" name="rdo-rating" id="rdo-rating_02" />
            <label for="rdo-rating_02">2점</label>
          </div>
          <div class="krds-form-check">
            <input type="radio" name="rdo-rating" id="rdo-rating_03" />
            <label for="rdo-rating_03">3점</label>
          </div>
          <div class="krds-form-check">
            <input type="radio" name="rdo-rating" id="rdo-rating_04" />
            <label for="rdo-rating_04">4점</label>
          </div>
          <div class="krds-form-check">
            <input type="radio" name="rdo-rating" id="rdo-rating_05" />
            <label for="rdo-rating_05">5점</label>
          </div>
        </div>
      </div>
      <!-- //modal contents -->
      <!-- modal btn -->
      <div class="modal-btn btn-wrap"><button type="button" class="krds-btn medium primary">확인</button></div>
      <!-- //modal btn -->
      <!-- close button -->
      <button type="button" class="krds-btn medium icon btn-close close-modal">
        <span class="sr-only">닫기</span>
        <i class="svg-icon ico-popup-close" aria-hidden="true"></i>
      </button>
      <!-- //close button -->
    </div>
  </div>
  <div class="modal-back"></div>
</section>

<!-- 사용의견 팝업 -->
<section id="V-HAI-01-001_03" class="krds-modal fade" role="dialog" aria-labelledby="tit_V-HAI-01-001_03">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- modal title -->
      <div class="modal-header">
        <h2 id="tit_V-HAI-01-001_03" class="modal-title">사용의견</h2>
      </div>
      <!-- //modal title -->
      <!-- modal contents -->
      <div class="modal-conts"><textarea class="krds-input" aria-label="사용의견 입력" placeholder="최소 10자 이상 입력해주세요."></textarea></div>
      <!-- //modal contents -->
      <!-- modal btn -->
      <div class="modal-btn btn-wrap"><button type="button" class="krds-btn medium primary">확인</button></div>
      <!-- //modal btn -->
      <!-- close button -->
      <button type="button" class="krds-btn medium icon btn-close close-modal">
        <span class="sr-only">닫기</span>
        <i class="svg-icon ico-popup-close" aria-hidden="true"></i>
      </button>
      <!-- //close button -->
    </div>
  </div>
  <div class="modal-back"></div>
</section>
