<!-- footer -->
<footer id="krds-footer">
  <div class="foot-quick">
    <div class="inner">
      <button type="button" class="link" title="관련기관 레이어">
        관련기관
      </button>
      <button type="button" class="link" title="교육지원청 레이어">
        교육지원청
      </button>
      <button type="button" class="link" title="직속기관 레이어">
        직속기관
      </button>
    </div>
  </div>
  <div class="inner">
    <div class="f-logo">
      <span class="sr-only">KRDS - Korea Design System</span>
    </div>
    <div class="f-cnt">
      <div class="f-info">
        <ul class="info-addr">
          <li>
            <strong>경기도교육청 남부청사</strong>
            <span>(16508) 경기도 수원시 영통구 도청로 28</span>
            <span>
              <span>031-1396, 031-249-0114</span>
              <span>(평일 09시-18시)</span>
            </span>
            <span>
              <span>당직실(야간)</span>
              <span>031-249-0341, 031-249-0342</span>
            </span>
          </li>
          <li>
            <strong>경기도교육청 조원청사</strong>
            <span>(16279) 경기도 수원시 장안구 조원로 18</span>
            <span>
              <span>031-1396, 031-249-0114</span>
              <span>(평일 09시-18시)</span>
            </span>
          </li>
          <li>
            <strong>경기도교육청 북부청사</strong>
            <span>(11759) 경기도 의정부시 동일로 700</span>
            <span>
              <span>031-1396, 031-249-0114</span>
              <span>(평일 09시-18시)</span>
            </span>
            <span>
              <span>당직실(야간)</span>
              <span>031-820-0514, 031-820-0524</span>
            </span>
          </li>
        </ul>
      </div>
      <div class="f-link">
        <div class="link-go">
          <a href="#" class="krds-btn medium text"
            >누리집 지도 <i class="svg-icon ico-angle right"></i
          ></a>
          <!-- <a href="#" class="krds-btn medium text"
            >이용안내 <i class="svg-icon ico-angle right"></i
          ></a>
          <a href="#" class="krds-btn medium text"
            >직원검색 <i class="svg-icon ico-angle right"></i
          ></a> -->
        </div>
        <div class="link-sns">
          <!-- <a
            href="#"
            class="krds-btn xlarge icon border"
            target="_blank"
            title="새 창 열기"
          >
            <span class="sr-only">유튜브</span>
            <i class="svg-icon ico-youtube"></i>
          </a>
          <a
            href="#"
            class="krds-btn xlarge icon border"
            target="_blank"
            title="새 창 열기"
          >
            <span class="sr-only">X</span>
            <i class="svg-icon ico-sns-x"></i>
          </a> -->
          <a
            href="#"
            class="krds-btn xlarge icon border"
            target="_blank"
            title="새 창 열기"
          >
            <span class="sr-only">페이스북</span>
            <i class="svg-icon ico-facebook"></i>
          </a>
          <a
            href="#"
            class="krds-btn xlarge icon border"
            target="_blank"
            title="새 창 열기"
          >
            <span class="sr-only">인스타그램</span>
            <i class="svg-icon ico-instagram"></i>
          </a>
          <a
            href="#"
            class="krds-btn xlarge icon border"
            target="_blank"
            title="새 창 열기"
          >
            <span class="sr-only">블로그</span>
            <i class="svg-icon ico-blog"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="f-btm">
      <div class="f-btm-text">
        <div class="f-menu">
          <a href="#" class="point">개인정보처리방침</a>
          <a href="#">영상정보기기운영규정</a>
          <a href="#">저작권 정책</a>
        </div>
        <p class="f-copy">
          © Gyeonggido Office of Education, All Right Reserved.
        </p>
      </div>
      <!-- <div class="krds-identifier">
        <span class="logo">
          <span class="sr-only">KRDS - Korea Design System</span>
        </span>
        <span class="ban-txt">이 누리집은 보건복지부 누리집입니다.</span>
      </div> -->
    </div>
  </div>
</footer>
<!-- //footer -->
