@use '../common/mixins/utils' as *;
@use '../common/mixins/breakpoints' as *;
@use '../common/mixins/icons' as *;

.krds-chart {
  padding: 8.5rem 0 4.3rem;
  .chart {
    &.type01 {
      width: 100%;
      height: 34.2rem;
      > div,
      svg {
        margin: 0 auto;
      }
    }
  }
}
