@use '../common/mixins/utils' as *;
@use '../common/mixins/breakpoints' as *;
@use '../common/mixins/icons' as *;

/* 맥락적 도움말 */
//모드 설정
$mode-setting: light;

//사이즈 정의
@mixin contextual-help-size-variable() {
  --contextual-help--action-btn-radius: var(--radius-small2);
  --contextual-help--action-pc-font-size: var(--pc-font-size-body-small);
  --contextual-help--action-mobile-font-size: var(
    --mobile-font-size-body-small
  );
  --contextual-help--popover-width: 36rem;
  --contextual-help--popover-padding: var(--padding-8);
  --contextual-help--popover-radius: var(--radius-xlarge2);
  --contextual-help--popover-title-pc-font-size: var(
    --pc-font-size-heading-xsmall
  );
  --contextual-help--popover-title-mobile-font-size: var(
    --mobile-font-size-heading-xsmall
  );
  --contextual-help--popover-contents-pc-font-size: var(
    --pc-font-size-body-small
  );
  --contextual-help--popover-contents-mobile-font-size: var(
    --mobile-font-size-body-small
  );
}

//컬러 정의
@mixin contextual-help-color-variable($mode: light) {
  --contextual-help--action-btn-color-background: var(
    --#{$mode}-color-action-secondary
  );
  --contextual-help--action-btn-color-background-hover: var(
    --#{$mode}-color-action-secondary-hover
  );
  --contextual-help--action-btn-color-background-pressed: var(
    --#{$mode}-color-action-secondary-pressed
  );
  --contextual-help--action-icon-color-information: var(
    --#{$mode}-color-icon-information
  );
  --contextual-help--popover-color-text-basic: var(--#{$mode}-color-text-basic);
  --contextual-help--popover-color-text-bolder: var(
    --#{$mode}-color-text-bolder
  );
  --contextual-help--popover-color-border: var(--#{$mode}-color-border-gray);
  --contextual-help--popover-color-background: var(
    --#{$mode}-color-surface-white-subtler
  );
  --contextual-help--popover-shadow:
    0 0 0.2rem 0 var(--#{$mode}-color-alpha-shadow2),
    0 0.8rem 1.6rem 0 var(--#{$mode}-color-alpha-shadow3);
}

.krds-contextual-help {
  @include contextual-help-size-variable();
  @include contextual-help-color-variable();

  @include flex-layout($ai: center);
  gap: var(--gap-2);
  .tooltip-txt {
    font-size: var(--contextual-help--action-pc-font-size);
  }
  .tooltip-action {
    @include flex-layout($ai: center);
    position: relative;
    .tooltip-btn {
      @include flex-layout($ai: center);
      border-radius: var(--contextual-help--action-btn-radius);
      background-color: var(--contextual-help--action-btn-color-background);
      &:hover {
        background-color: var(
          --contextual-help--action-btn-color-background-hover
        );
      }
      &:active {
        background-color: var(
          --contextual-help--action-btn-color-background-pressed
        );
      }
      .ico-tooltip {
        background-color: var(--contextual-help--action-icon-color-information);
      }
    }
  }
  .tooltip-popover {
    --contextual-help--bubble-arrow-size: 1.6rem;
    --contextual-help--bubble-arrow-margin: calc(
      (var(--contextual-help--bubble-arrow-size) / 2) * -1
    );
    --contextual-help--bubble-margin-x: 2.4rem;
    --contextual-help--bubble-arrow-position-x: -2rem;

    display: none;
    position: absolute;
    z-index: 70;
    width: var(--contextual-help--popover-width);
    padding: var(--contextual-help--popover-padding);
    border-radius: var(--contextual-help--popover-radius);
    background-color: var(--contextual-help--popover-color-background);
    border: 0.1rem solid var(--contextual-help--popover-color-border);
    box-shadow: var(--contextual-help--popover-shadow);
    &::before {
      @include pseudo();
      @include square(var(--contextual-help--bubble-arrow-size));
      display: block;
      position: absolute;
      margin-top: var(--contextual-help--bubble-arrow-margin);
      transform: rotate(45deg);
      border: 0.1rem solid var(--contextual-help--popover-color-border);
      border-top-color: transparent;
      border-left-color: transparent;
      background-color: var(--contextual-help--popover-color-background);
    }
    .tooltip-title {
      @include ellipsis(1);
      color: var(--contextual-help--popover-color-text-bolder);
      font-size: var(--contextual-help--popover-title-pc-font-size);
      padding-right: var(--gap-5);
    }
    .tooltip-contents {
      @include flex-layout($fd: column);
      color: var(--contextual-help--popover-color-text-basic);
      font-size: var(--contextual-help--popover-contents-pc-font-size);
      margin-top: var(--gap-5);
      gap: var(--gap-3);
    }
    .tooltip-close {
      @include position(
        $t: var(--contextual-help--popover-padding),
        $r: var(--contextual-help--popover-padding)
      );
    }
  }
  &.left {
    .tooltip-popover {
      left: 0;
      margin-left: var(--contextual-help--bubble-arrow-position-x);
      &::before {
        left: var(--contextual-help--bubble-margin-x);
      }
    }
  }
  &.center {
    .tooltip-popover {
      @include position-center(x);
      &::before {
        left: 50%;
        margin-left: var(--contextual-help--bubble-arrow-margin);
      }
    }
  }
  &.right {
    .tooltip-popover {
      right: 0;
      margin-right: var(--contextual-help--bubble-arrow-position-x);
      &::before {
        right: var(--contextual-help--bubble-margin-x);
      }
    }
  }
  &.top {
    .tooltip-popover {
      bottom: 100%;
      margin-bottom: var(--gap-5);
      &::before {
        top: 100%;
      }
    }
  }
  &.bottom {
    .tooltip-popover {
      top: 100%;
      margin-top: var(--gap-5);
      &::before {
        bottom: 100%;
        transform: rotate(225deg);
        margin-bottom: var(--contextual-help--bubble-arrow-margin);
      }
    }
  }
}

//고대비모드
@include color-mode($mode: high-contrast) {
  //모드 설정
  $mode-setting: high-contrast;

  // krds-contextual-help
  .krds-contextual-help {
    @include contextual-help-color-variable(#{$mode-setting});
  }
}

//responsive mobile
@include size-medium {
  .krds-contextual-help {
    .tooltip-popover {
      right: unset !important;
      transform: none !important;
      margin-left: 0 !important;
      &::before {
        display: none;
      }

      .tooltip-title {
        font-size: var(--contextual-help--popover-title-mobile-font-size);
      }
      .tooltip-contents {
        font-size: var(--contextual-help--popover-contents-mobile-font-size);
      }
    }
  }
}
