@use '../common/mixins/utils' as *;
@use '../common/mixins/breakpoints' as *;
@use '../common/mixins/icons' as *;

/* 긴급 공지  */

//사이즈 정의
@mixin critical-badge-size-variable() {
  --critical-alerts--size-max-width: 84.6rem;
  --critical-alerts--gap: var(--number-6);
  --critical-alerts--padding: var(--padding-7);
  --critical-alerts--banner-gap: var(--gap-5);
  --critical-alerts--banner-padding: var(--pc-padding-card-xsmall);
  --critical-alerts--banner-radius: var(--radius-large2);

  --critical-alerts--badge-size-min-width: 7.8rem;
  --critical-alerts--badge-size-height: var(--size-height-7);
  --critical-alerts--badge-gap: var(--gap-2);
  --critical-alerts--badge-padding: var(--padding-4);
  --critical-alerts--badge-radius: var(--radius-medium2);
  --critical-alerts--badge-pc-font-size: var(--pc-font-size-body-medium);
  --critical-alerts--badge-mobile-font-size: var(--mobile-font-size-body-small);
  --critical-alerts--badge-icon-size: var(--gap-7);

  //mobile
  --critical-alerts--mobile-padding: var(--padding-6);
  --critical-alerts--mobile-banner-padding: var(--mobile-padding-card-xsmall);
  --critical-alerts--mobile-badge-size-height: 3.9rem;
  --critical-alerts--mobile-badge-icon-size: var(--gap-6);
  --critical-alerts--mobile-badge-padding: var(--padding-3);
}

//컬러 정의
@mixin critical-badge-color-variable($mode: light) {
  --critical-alerts--banner-border-width: var(
    --#{$mode}-border-width-variable-regular
  );
  --critical-alerts--banner-color-action: var(
    --#{$mode}-color-surface-white-subtle
  );
  --critical-alerts--banner-color-border: var(
    --#{$mode}-color-border-gray-light
  );
  --critical-alerts--banner-shadow:
    0 0 0.2rem 0 var(--#{$mode}-color-alpha-shadow1),
    0 0.4rem 0.8rem 0 var(--#{$mode}-color-alpha-shadow2);
  --critical-alerts--badge-color-background-danger: var(
    --#{$mode}-color-element-danger
  );
  --critical-alerts--badge-color-background-ok: var(
    --#{$mode}-color-element-success
  );
  --critical-alerts--badge-color-background-info: var(
    --#{$mode}-color-element-information
  );
  --critical-alerts--badge-color-text: var(
    --#{$mode}-color-text-inverse-static
  );
}

//critical badge style
@mixin critical-badge-style($type) {
  $background-color: var(--critical-alerts--badge-color-background-#{$type});
  $icon: ico_urgent_badge_#{$type};

  background-color: $background-color;

  &::before {
    @include icon-set($icon, pure);
  }
}

//모드 설정
$mode-setting: light;
.krds-critical-alerts {
  @include critical-badge-size-variable();
  @include critical-badge-color-variable(#{$mode-setting});

  @include flex-layout($fd: column, $ai: normal);
  gap: var(--critical-alerts--gap);
  width: 100%;
  max-width: var(--critical-alerts--size-max-width);
  padding: var(--critical-alerts--padding);
  margin: 0 auto;
  .critical-ban {
    @include flex-layout($ai: center);
    gap: var(--critical-alerts--banner-gap);
    padding: var(--critical-alerts--banner-padding);
    background-color: var(--critical-alerts--banner-color-action);
    border: var(--critical-alerts--banner-border-width) solid
      var(--critical-alerts--banner-color-border);
    border-radius: var(--critical-alerts--banner-radius);
    box-shadow: var(--critical-alerts--banner-shadow);
  }
  .critical-badge {
    @include flex-layout($ai: center);
    gap: var(--critical-alerts--badge-gap);
    font-size: var(--critical-alerts--badge-pc-font-size);
    font-weight: var(--font-weight-bold);
    color: var(--critical-alerts--badge-color-text);
    min-width: var(--critical-alerts--badge-size-min-width);
    height: var(--critical-alerts--badge-size-height);
    padding: 0 var(--critical-alerts--badge-padding);
    border-radius: var(--critical-alerts--badge-radius);
    @include size-medium {
      font-size: var(--critical-alerts--badge-mobile-font-size);
    }
    &::before {
      display: inline-flex;
      @include pseudo();
      @include square(var(--critical-alerts--badge-icon-size));
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &.danger {
      @include critical-badge-style(danger);
    }
    &.ok {
      @include critical-badge-style(ok);
    }
    &.info {
      @include critical-badge-style(info);
    }
  }
  .critical-txt {
    flex: 1;
    font-weight: var(--font-weight-bold);
    @include ellipsis(2);
  }
}

//모바일 전용
@include size-medium {
  .krds-critical-alerts {
    padding: var(--critical-alerts--mobile-padding);
    .critical-ban {
      height: auto;
      padding: var(--critical-alerts--mobile-banner-padding);
    }
    .critical-txt {
      display: block;
      overflow: visible;
    }
    .critical-badge {
      min-width: auto;
      height: var(--critical-alerts--mobile-badge-size-height);
      padding: var(--critical-alerts--mobile-badge-padding);
      &::before {
        @include square(var(--critical-alerts--mobile-badge-icon-size));
      }
    }
  }
}

//고대비모드
@include color-mode($mode: high-contrast) {
  //모드 설정
  $mode-setting: high-contrast;
  .krds-critical-alerts {
    @include critical-badge-color-variable(#{$mode-setting});
  }
}
