@use '../common/mixins/utils' as *;
@use '../common/mixins/breakpoints' as *;
@use '../common/mixins/icons' as *;

/* 디스클로저 */
//사이즈 정의
@mixin disclosure-size-variable() {
  --disclosure--gap: 1.4rem;
  --disclosure--button-icon-size: var(--icon--size-medium);
  --disclosure--button-size-height: 2.6rem;
  --disclosure--button-gap: var(--gap-2);
  --disclosure--button-pc-font-size: var(--pc-font-size-body-medium);
  --disclosure--button-mobile-font-size: var(--mobile-font-size-body-medium);
  --disclosure--pc-expand-padding: var(--pc-padding-card-small);
  --disclosure--mobile-expand-padding: var(--mobile-padding-card-small);
  --disclosure--expand-margin-top: var(--gap-2);
  --disclosure--expand-radius: var(--radius-xlarge2);
}

//컬러 정의
@mixin disclosure-color-variable($mode: light) {
  --disclosure--button-color-text: var(--#{$mode}-color-text-bolder);
  --disclosure--expand-color-surface: var(--#{$mode}-color-surface-gray-subtle);
}

//모드 설정
$mode-setting: light;
.krds-disclosure {
  @include disclosure-size-variable();
  @include disclosure-color-variable(#{$mode-setting});

  width: 100%;

  & ~ .krds-disclosure {
    margin-top: var(--disclosure--gap); //pattern 간격 적용
  }

  .btn-conts-expand {
    @include flex-layout($ai: center);
    height: var(--disclosure--button-size-height);
    font-size: var(--disclosure--button-pc-font-size);
    color: var(--disclosure--button-color-text);
    &::before {
      display: inline-flex;
      @include pseudo();
      @include svg-icon(
        $size: var(--disclosure--button-icon-size),
        $mode: #{$mode-setting}
      );
      @include icon-set(ico_expand);
      margin-right: var(--disclosure--button-gap);
      transition: var(--transition-base);
      transform: rotate(0);
      background-repeat: no-repeat;
      background-position: center;
    }
    &::after {
      display: none;
    }
  }
  .expand-wrap {
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    max-height: 0;
    &::after {
      display: none;
    }
    .expand-in {
      padding: var(--disclosure--pc-expand-padding);
      margin-top: var(--disclosure--expand-margin-top);
      background-color: var(--disclosure--expand-color-surface);
      border-radius: var(--disclosure--expand-radius);
    }
  }
  &.active {
    .expand-wrap {
      max-height: 1000vh !important;
      transition: max-height 1.5s ease-in-out;
    }
    .btn-conts-expand {
      &::before {
        transform: rotate(-90deg);
      }
    }
  }
}

//고대비모드
@include color-mode($mode: high-contrast) {
  //모드 설정
  $mode-setting: high-contrast;
  .krds-disclosure {
    @include disclosure-color-variable(#{$mode-setting});

    .btn-conts-expand {
      &::before {
        @include svg-icon(
          $size: var(--disclosure--button-icon-size),
          $mode: #{$mode-setting}
        );
      }
    }
  }
}

@include size-medium {
  .krds-disclosure {
    .btn-conts-expand {
      font-size: var(--disclosure--button-mobile-font-size);
    }
    .expand-wrap {
      .expand-in {
        padding: var(--disclosure--mobile-expand-padding);
      }
    }
  }
}
