.krds-label {
  gap: 0 0.6rem;
}
.required {
  &::before {
    content: '*';
    color: var(--krds-light-color-divider-error);
  }
}

.file-box {
  display: flex;
  min-height: 10rem;
  padding: var(--krds-padding-9);
  border-radius: var(--krds-radius-xlarge2);
  background: var(--krds-light-color-surface-secondary-subtler);
  justify-content: space-between;
  align-items: center;
  gap: var(--krds-gap-7);
  flex-wrap: wrap;
}
.file-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--krds-gap-4);

  li {
    display: flex;
    align-items: center;
    gap: var(--krds-gap-3);
    .file-name {
      display: inline-flex;
      align-items: center;
      gap: var(--krds-gap-2);
      font-size: var(--krds-pc-font-size-body-medium);
      color: var(--krds-light-color-text-basic);
      .svg-icon {
        flex: none;
      }
    }
  }
}
.file-box-btn-wrap {
  margin-left: auto;
  border-radius: var(--krds-button--radius-medium);
  background-color: var(--krds-color-light-alpha-white100);
}
