@use '../common/mixins/utils' as *;
@use '../common/mixins/breakpoints' as *;
@use '../common/mixins/icons' as *;

/* 콘텐츠 내 탐색 */

//사이즈 정의
@mixin in-page-navigation-size-variable() {
  --in-page-navigation--width: 16rem;
  --in-page-navigation--gap: var(--gap-5);
  --in-page-navigation--position-top: 25.6rem;
  --in-page-navigation--position-right: calc(
    (100% - var(--contents-wrap-size)) / 2 -
      (
        var(--in-page-navigation--width) - var(--contents-padding-x) +
          var(--pc-gap-layout-contents-right)
      )
  );
  --in-page-navigation--header-gap: var(--gap-2);
  --in-page-navigation--header-caption-pc-font-size: var(
    --pc-font-size-body-xsmall
  );
  --in-page-navigation--header-caption-mobile-font-size: var(
    --mobile-font-size-body-xsmall
  );
  --in-page-navigation--header-title-pc-font-size: var(
    --pc-font-size-heading-xsmall
  );
  --in-page-navigation--header-title-mobile-font-size: var(
    --mobile-font-size-heading-xsmall
  );
  --in-page-navigation--list-anchor-border-radius: var(--radius-small3);
  --in-page-navigation--list-anchor-pc-font-size: var(
    --pc-font-size-navigation-depth-small
  );
  --in-page-navigation--list-anchor-mobile-font-size: var(
    --mobile-font-size-navigation-depth-small
  );
  --in-page-navigation--action-gap: var(--gap-3);
  --in-page-navigation--action-info-pc-font-size: var(
    --pc-font-size-body-small
  );
  --in-page-navigation--action-info-mobile-font-size: var(
    --mobile-font-size-body-small
  );
}
//컬러 정의
@mixin in-page-navigation-color-variable($mode: light) {
  --in-page-navigation--color-text-bolder: var(--#{$mode}-color-text-bolder);
  --in-page-navigation--color-text-sub: var(--#{$mode}-color-text-subtle);
  --in-page-navigation--list-anchor-color-text-selected: var(
    --#{$mode}-color-text-secondary
  );
  --in-page-navigation--list-anchor-color-background: var(
    --#{$mode}-color-action-secondary
  );
  --in-page-navigation--list-anchor-color-background-hover: var(
    --#{$mode}-color-action-secondary-hover
  );
  --in-page-navigation--list-anchor-color-background-pressed: var(
    --#{$mode}-color-action-secondary-pressed
  );
  --in-page-navigation--list-anchor-color-background-selected: var(
    --#{$mode}-color-action-secondary-selected
  );
}

// 모드 설정
$mode-setting: light;

.krds-in-page-navigation-type {
  @include in-page-navigation-size-variable();
  @include in-page-navigation-color-variable(#{$mode-setting});

  .krds-in-page-navigation-area {
    @include position(
      $p: fixed,
      $t: var(--in-page-navigation--position-top),
      $r: var(--in-page-navigation--position-right)
    );
    @include flex-layout($fd: column);
    gap: var(--in-page-navigation--gap);
    width: var(--in-page-navigation--width);
    transition: var(--transition-base);
    z-index: 10;
    > * {
      width: 100%;
    }
    .in-page-navigation-header {
      @include flex-layout($fd: column);
      gap: var(--in-page-navigation--header-gap);
      .quick-caption {
        font-size: var(--in-page-navigation--header-caption-pc-font-size);
      }
      .quick-title {
        font-size: var(--in-page-navigation--header-title-pc-font-size);
        font-weight: var(--font-weight-bold);
        color: var(--in-page-navigation--color-text-bolder);
      }
    }
    .in-page-navigation-list {
      ul {
        @include flex-layout($fd: column);
        gap: var(--gap-2);
      }
      li {
        width: 100%;
        > a {
          position: relative;
          display: block;
          padding: var(--padding-2) var(--padding-3);
          font-size: var(--in-page-navigation--list-anchor-pc-font-size);
          color: var(--in-page-navigation--color-text-sub);
          background-color: var(
            --in-page-navigation--list-anchor-color-background
          );
          border-radius: var(--in-page-navigation--list-anchor-border-radius);
          transition: var(--transition-base);
          &:hover {
            background-color: var(
              --in-page-navigation--list-anchor-color-background-hover
            );
          }
          &:active {
            background-color: var(
              --in-page-navigation--list-anchor-color-background-pressed
            );
          }
          &.active {
            color: var(--in-page-navigation--list-anchor-color-text-selected);
            background-color: var(
              --in-page-navigation--list-anchor-color-background-selected
            );
            font-weight: var(--font-weight-bold);
          }
        }
      }
    }
    .in-page-navigation-action {
      @include flex-layout($fd: column, $ai: center);
      gap: var(--in-page-navigation--action-gap);
      .krds-btn {
        width: 100%;
      }
      .quick-info {
        font-size: var(--in-page-navigation--action-info-pc-font-size);
        color: var(--in-page-navigation--color-text-sub);
      }
    }
  }
}

// scroll-down
.scroll-down {
  .krds-in-page-navigation-type {
    .krds-in-page-navigation-area {
      top: 6rem;
    }
  }
}

// 고대비모드
@include color-mode($mode: high-contrast) {
  //모드 설정
  $mode-setting: high-contrast;

  // krds-in-page-navigation-type
  .krds-in-page-navigation-type {
    .krds-in-page-navigation-area {
      // var
      @include in-page-navigation-color-variable(#{$mode-setting});

      .in-page-navigation-header {
        .quick-title {
          color: var(--in-page-navigation--color-text-bolder);
        }
      }
      .in-page-navigation-list {
        li {
          > a {
            color: var(--in-page-navigation--color-text-sub);
            background-color: var(
              --in-page-navigation--list-anchor-color-background
            );
            &:hover {
              background-color: var(
                --in-page-navigation--list-anchor-color-background-hover
              );
            }
            &:active {
              background-color: var(
                --in-page-navigation--list-anchor-color-background-pressed
              );
            }
            &.active {
              color: var(--in-page-navigation--list-anchor-color-text-selected);
              background-color: var(
                --in-page-navigation--list-anchor-color-background-selected
              );
            }
          }
        }
      }
      .in-page-navigation-action {
        .quick-info {
          color: var(--in-page-navigation--color-text-sub);
        }
      }
    }
  }
}

// 1680 / 1280 설정
@media (max-width: 1680px) {
  .krds-in-page-navigation-type {
    & > .inner:not(.in-between) {
      padding-right: calc(
        var(--in-page-navigation--width) + var(--pc-gap-layout-contents-right) +
          var(--contents-padding-x)
      );
    }
    .in-between {
      .contents {
        padding-right: calc(
          var(--in-page-navigation--width) + var(--pc-gap-layout-contents-right)
        );
      }
    }
    .krds-in-page-navigation-area {
      --in-page-navigation--position-right: calc(
        (100% - var(--contents-wrap-size)) / 2 + var(--contents-padding-x)
      );
    }
  }
}
@media (max-width: 1280px) {
  .krds-in-page-navigation-type {
    .krds-in-page-navigation-area {
      --in-page-navigation--position-right: var(--contents-padding-x);
    }
  }
}

// responsive mobile
@include size-medium {
  .krds-in-page-navigation-type {
    & > .inner:not(.in-between) {
      padding-right: var(--contents-padding-x);
    }
    .krds-in-page-navigation-area {
      position: static;
      width: 100%;
      transition: none;
      ~ .tab-conts {
        margin-top: var(--gap-8);
      }

      .in-page-navigation-action {
        display: none;
      }
    }
  }
}
