@use '../common/mixins/utils' as *;
@use '../common/mixins/breakpoints' as *;
@use '../common/mixins/icons' as *;

/* 단계 표시기 */

//사이즈 정의
@mixin step-size-variable() {
  --step--layout-gap: var(--number-18);
  --step--step-font-size: var(--pc-font-size-body-xsmall);
  --step--step-title-font-size: var(--pc-font-size-body-small);
  --step--circle-size-default: var(--icon--size-medium);
  --step--circle-size-active: 1.2rem;
  --step--circle-radius: var(--radius-max);
  --step--padding-txt-top: var(--padding-9);
  --step--padding-txt-right: var(--padding-9);
  --step--border-width-medium: 0.3rem;
}

//컬러 정의
@mixin step-color-variable($mode: light) {
  --step--color-step: var(--#{$mode}-color-text-subtle);
  --step--color-step-title: var(--#{$mode}-color-text-basic);
  --step--color-fill-default: var(--#{$mode}-color-element-gray-light);
  --step--color-fill-done: var(--#{$mode}-color-element-gray);
  --step--color-fill-active: var(--#{$mode}-color-element-primary);
  --step--color-fill-white: var(--#{$mode}-color-element-inverse-static);
  --step--color-border-default: var(--#{$mode}-color-element-disabled-light);
  --step--color-border-done: var(--step--color-fill-done);
  --step--color-border-active: var(--step--color-fill-active);
  --step--color-icon-done: var(--step--color-fill-white);
  --step--color-icon-active: var(--step--color-fill-active);
}

.krds-step-wrap {
  @include step-size-variable();
  @include step-color-variable();

  display: flex;
  margin-bottom: var(--step--layout-gap);
  > li {
    flex: 1;
    position: relative;

    &::after {
      @include position(
        $t: calc(
            (var(--step--circle-size-default) / 2) -
              (var(--step--border-width-medium) / 2)
          ),
        $l: 0.1rem
      );
      @include pseudo();
      width: 100%;
      height: var(--step--border-width-medium);
      background-color: var(--step--color-fill-default);
    }
    > span {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-top: var(--step--padding-txt-top);
      padding-right: var(--step--padding-txt-top);

      &::before,
      &::after {
        @include pseudo();
        border-radius: var(--step--circle-radius);
      }
      &::before {
        @include position($t: 0, $l: 0);
        z-index: 2;
        width: var(--step--circle-size-default);
        height: var(--step--circle-size-default);
        background-color: var(--step--color-fill-default);
        border: 0.1rem solid var(--step--color-border-default);
      }
    }
    .step {
      font-size: var(--step--step-font-size);
      color: var(--step--color-step);
    }
    .step-tit {
      font-size: var(--step--step-title-font-size);
      font-weight: var(--font-weight-bold);
      color: var(--step--color-step-title);
      white-space: nowrap;
    }
    &.done {
      &::after {
        background-color: var(--step--color-fill-done);
      }
      > span {
        &::before {
          border-color: var(--step--color-border-done);
          background-color: var(--step--color-fill-done);
        }
        &::after {
          @include position($t: 0, $l: 0);
          @include svg-icon(var(--step--circle-size-default));
          @include icon-set(ico_step_done);
          background-color: var(--step--color-icon-done);
          z-index: 3;
        }
      }
    }
    &.active {
      &::after {
        background-color: var(--step--color-border-default);
      }
      > span {
        &::before {
          background-color: var(--step--color-fill-white);
          border-width: var(--step--border-width-medium);
          border-color: var(--step--color-border-active);
        }
        &::after {
          @include position(
            $t: calc(
                (
                    var(--step--circle-size-active) - var(
                        --step--circle-size-default
                      )
                  ) /
                  2 * -1
              ),
            $l: calc(
                (
                    var(--step--circle-size-default) - var(
                        --step--circle-size-active
                      )
                  ) /
                  2
              )
          );
          @include square(var(--step--circle-size-active));
          background-color: var(--step--color-icon-active);
          z-index: 3;
        }
      }
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

@include size-large-less {
  .krds-step-wrap {
    --step--layout-gap: var(--padding-10);
  }
}
@include size-medium {
  .krds-step-wrap {
    --step--layout-gap: var(--number-18);
    --step--step-font-size: var(--mobile-font-size-body-xsmall);
    --step--step-title-font-size: var(--pc-font-size-body-small);
    --step--padding-txt-top: var(--step--circle-size-default);
    --step--padding-txt-right: 0;

    @include group-wrap;
    position: static;

    > li {
      @include equal-width;

      .step {
        @include sr-only();
      }
      .step-tit {
        @include sr-only();
      }
      &:last-child {
        @include size-medium {
          flex: 0 0 var(--step--circle-size-default);
        }
      }
    }
  }
}

//고대비모드
@include color-mode($mode: high-contrast) {
  //모드 설정
  $mode-setting: high-contrast;

  .krds-step-wrap {
    @include step-color-variable(#{$mode-setting});
  }
}
