@use '../common/mixins/utils' as *;
@use '../common/mixins/breakpoints' as *;
@use '../common/mixins/icons' as *;

/* 탭 */
//사이즈 정의
@mixin tab-size-variable() {
  --tab--button-size-height: var(--size-height-7);
  --tab--button-size-min-width: 6.4rem;
  --tab--button-pc-font-size: var(--pc-font-size-heading-xsmall);
  --tab--button-mobile-font-size: var(--mobile-font-size-heading-xsmall);
  --tab--gap: var(--gap-3);
  --tab--full-button-size-height: var(--size-height-8);
  --tab--full-button-pc-font-size: var(--pc-font-size-heading-small);
  --tab--full-button-mobile-font-size: var(--mobile-font-size-heading-small);
  --tab--line-button-padding: var(--padding-2);
  --tab--fill-button-padding: var(--padding-3);
  --tab--fill-button-radius: var(--radius-medium2);
  --tab--conts-padding-top: var(--padding-10);
  --tab--mobile-button-trigger-size-height: var(--size-height-7);
  --tab--mobile-button-trigger-padding-x: var(--padding-6);
  --tab--mobile-button-trigger-radius: var(--radius-medium1);
}
//컬러 정의
@mixin tab-color-variable($mode: light) {
  --tab--button-color-action: var(--#{$mode}-color-action-secondary);
  --tab--button-color-action-hover: var(--#{$mode}-color-action-secondary-hover);
  --tab--button-color-action-pressed: var(--#{$mode}-color-action-secondary-pressed);
  --tab--button-color-border: var(--#{$mode}-color-action-secondary);
  --tab--button-color-text: var(--#{$mode}-color-text-subtle);
  --tab--button-color-text-disabled: var(--#{$mode}-color-text-disabled);
  --tab--fill-button-color-action-active: var(--#{$mode}-color-action-secondary-active);
  --tab--fill-button-color-border: var(--#{$mode}-color-border-gray);
  --tab--fill-button-color-border-active: var(--#{$mode}-color-action-secondary-active);
  --tab--fill-button-color-text: var(--#{$mode}-color-text-inverse-static);
  --tab--line-button-color-border: var(--#{$mode}-color-border-gray);
  --tab--line-button-color-line-active: var(--#{$mode}-color-action-secondary-active);
  --tab--line-button-color-text-active: var(--#{$mode}-color-text-secondary);
  --tab--mobile-button-trigger-color-text: var(--#{$mode}-color-text-inverse-static);
  --tab--mobile-button-trigger-color-action: var(--#{$mode}-color-action-secondary-active);
}

//모드 설정
$mode-setting: light;
.krds-tab-area {
  @include flex-layout($fd: column);
  gap: var(--gap-9);
  width: 100%;

  @include size-medium {
    gap: var(--gap-8);
  }

  &.etc {
    margin-top: var(--gap-7);
    gap: 0;
    .tab.full {
      > ul {
        gap: var(--gap-3);
        > li {
          flex: none;
          button {
            min-width: 5.6rem;
            height: 4.8rem;
            padding: 0 var(--padding-9);
            border-radius: var(--radius-max) !important;
            border: 0.1rem solid var(--light-color-border-primary-light);
            font-size: var(--pc-font-size-heading-small);
            color: var(--light-color-text-subtle);
          }
          &.active {
            button {
              border: none;
              color: var(--light-color-text-bolder-inverse);
              background: linear-gradient(90deg, #2acbff 0%, #4583ff 50%, #7880f3 100%);
            }
          }
        }
      }
    }
  }
}
.tab {
  @include tab-size-variable();
  @include tab-color-variable(#{$mode-setting});

  > ul {
    @include flex-layout($ai: center);
    gap: var(--tab--gap);
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }
  li,
  .btn-tab {
    @include flex-layout(inline-flex, center, center);
    position: relative;
    white-space: nowrap;
  }
  .btn-tab {
    width: 100%;
    height: var(--tab--button-size-height);
    background-color: var(--tab--button-color-action);
    border: 0.1rem solid var(--tab--button-color-border);
    font-size: var(--tab--button-pc-font-size);
    color: var(--tab--button-color-text);
    font-weight: var(--font-weight-bold);
    transition: var(--transition-base);
    @include size-medium {
      font-size: var(--tab--button-mobile-font-size);
    }
    &:not(:disabled):hover {
      background-color: var(--tab--button-color-action-hover);
      transition: var(--transition-base);
    }
    &:not(:disabled):active {
      background-color: var(--tab--button-color-action-pressed);
      transition: var(--transition-base);
    }
    &:focus {
      @include focus();
    }
    &[disabled] {
      color: var(--tab--button-color-text-disabled);
      cursor: default;
    }
  }
  li {
    flex-grow: 0;
  }

  &.full {
    //풀사이즈
    width: 100%;
    .btn-tab {
      height: var(--tab--full-button-size-height);
      padding: 0;
      font-size: var(--tab--full-button-pc-font-size);
      word-break: keep-all;
      @include size-medium {
        font-size: var(--tab--full-button-mobile-font-size);
      }
    }
    > ul {
      @include group-wrap;
      // flex-wrap: nowrap;
      gap: 0;
      > li {
        @include equal-width;
        min-width: auto;
      }
    }
    // &[data-col] {
    //   > ul {
    //     display: grid;
    //     grid-template-columns: repeat(4, 1fr);
    //     > li {
    //       flex: none;
    //     }
    //   }
    // }
  }
  &.fill {
    //bg 타입
    .btn-tab {
      padding: 0 var(--tab--fill-button-padding);
      border-radius: var(--tab--fill-button-radius);
      &:focus {
        box-shadow: inset 0 0 0 0.6rem var(--#{$mode-setting}-color-border-primary);
        outline-offset: -0.4rem;
      }
    }
    .active {
      .btn-tab {
        background-color: var(--tab--fill-button-color-action-active);
        border-color: var(--tab--fill-button-color-border-active) !important;
        color: var(--tab--fill-button-color-text);
      }
    }

    &.full {
      .btn-tab {
        border-color: var(--tab--fill-button-color-border);
      }
      > ul {
        > li {
          & + li {
            .btn-tab {
              border-left: none;
            }
          }
          .btn-tab {
            border-radius: 0;
          }
          &:first-of-type {
            .btn-tab {
              border-top-left-radius: var(--tab--fill-button-radius);
              border-bottom-left-radius: var(--tab--fill-button-radius);
            }
          }
          &:last-of-type {
            .btn-tab {
              border-top-right-radius: var(--tab--fill-button-radius);
              border-bottom-right-radius: var(--tab--fill-button-radius);
            }
          }
        }
      }
    }
  }
  &.line {
    //line 타입
    .btn-tab {
      min-width: var(--tab--button-size-min-width);
      padding: 0 var(--tab--line-button-padding);
      &::before {
        @include position($b: 0, $l: 50%);
        @include pseudo();
        width: 0;
        height: 0.4rem;
        background-color: var(--#{$mode-setting}-color-border-secondary);
        transition: var(--transition-base);
      }
    }
    .active {
      .btn-tab {
        color: var(--#{$mode-setting}-color-border-secondary);
        &::before {
          @include position($l: 0);
          width: 100%;
        }
      }
    }
    &.full {
      .btn-tab {
        border: 0;
        border-bottom: 0.2rem solid var(--tab--line-button-color-border);

        &::before {
          bottom: -0.2rem;
        }
      }
    }
  }
}

.tab-conts-wrap {
  width: 100%;
}

.tab-conts {
  display: none;
  margin-top: var(--tab--conts-padding-top);
  &.active {
    @include flex-layout($fd: column, $ai: normal);
  }
}

//mobile only
@include size-medium {
  .tab-conts {
    &.active {
      gap: var(--padding-8);
    }
  }
  .tab {
    &.fill {
      &.full {
        .btn-tab {
          border-color: var(--tab--fill-button-color-border);
          padding: 0 var(--padding-5);
          border-width: 0;
        }
        > ul {
          gap: var(--gap-3);
          flex-wrap: nowrap;
          > li {
            width: fit-content;
            flex: none;
            .btn-tab {
              border-radius: var(--tab--fill-button-radius);
            }
          }
        }
      }
    }
    &.line {
      &.full {
        &[data-col] {
          > ul {
            display: grid;
            max-width: calc(100vw - var(--contents-padding-x) - var(--contents-padding-x));
            grid-template-columns: repeat(4, 1fr);
            > li {
              min-width: fit-content;
              .btn-tab {
                padding: 0 var(--padding-4);
              }
            }
          }
        }
        &[data-col='5'] {
          > ul {
            grid-template-columns: repeat(5, 1fr);
          }
        }
      }
    }
  }
}

//고대비모드
@include color-mode($mode: high-contrast) {
  //모드 설정
  $mode-setting: high-contrast;
  .tab {
    @include tab-color-variable(#{$mode-setting});
  }
}
