@use '../common/mixins/utils' as *;
@use '../common/mixins/breakpoints' as *;
@use '../common/mixins/icons' as *;

/* 표 */
//사이즈 정의
@mixin table-size-variable() {
  --table--data-thead-th-padding: var(--padding-3);
  --table--data-thead-th-padding-sides: var(--padding-6);
  // --table--data-thead-th-padding-sides: var(--padding-10);
  --table--data-thead-pc-font-size: var(--pc-font-size-heading-xxsmall);
  --table--data-thead-mobile-font-size: var(--mobile-font-size-heading-xxsmall);
  --table--data-tbody-pc-font-size: var(--pc-font-size-label-medium);
  --table--data-tbody-mobile-font-size: var(--mobile-font-size-label-medium);
  --table--data-tbody-padding: var(--padding-5);
  --table--data-tbody-padding-sides: var(--padding-6);
}

//컬러 설정
@mixin table-color-variable($mode: light) {
  --table--data-border-width: var(--#{$mode}-border-width-variable-regular);
  --table--data-thead-border: var(--#{$mode}-color-border-secondary-light);
  --table--data-thead-surface: var(--#{$mode}-color-surface-secondary-subtler);
  --table--data-thead-color-text: var(--#{$mode}-color-text-bolder);
  --table--data-tbody-color-surface: var(--#{$mode}-color-surface-white-subtle);
  --table--data-tbody-color-divider: var(--#{$mode}-color-divider-gray-light);
  --table--data-tbody-color-text: var(--#{$mode}-color-text-subtle);
}

//모드 설정
$mode-setting: light;
.krds-table-wrap {
  @include table-size-variable();
  @include table-color-variable(#{$mode-setting});
  width: 100%;

  .tbl {
    th,
    td {
      vertical-align: middle;

      &.nodata,
      &.no-data {
        display: table-cell;
        width: 100%;
        padding: 0.8rem 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap-4);
        text-align: center;
        &::before {
          @include pseudo();
          @include svg-icon($size: 5rem, $mode: #{$mode-setting});
          @include icon-set(ico_nodata, pure);
          flex: none;
          display: block;
          margin: 0 auto var(--gap-4);
        }
        p {
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: var(--gap-2);
          strong {
            font-size: var(--pc-font-size-heading-medium);
            color: var(--light-color-text-basic);
            @include size-medium {
              font-size: var(--mobile-font-size-heading-medium);
            }
          }
          span {
            font-size: var(--pc-font-size-body-large);
            color: var(--light-color-text-subtle);
            @include size-medium {
              font-size: var(--mobile-font-size-body-large);
            }
          }
        }
        .krds-btn {
          margin-top: 0.8rem;
        }
      }
    }
    > thead {
      > tr {
        > th {
          height: 5rem;
          padding: var(--table--data-thead-th-padding) var(--table--data-thead-th-padding-sides);
          background-color: var(--table--data-thead-surface);
          border-bottom: var(--table--data-border-width) solid var(--table--data-thead-border);
          background-color: #f8f8f8;
          border-bottom: var(--table--data-border-width) solid v#B1B8BE;
          font-weight: var(--font-weight-regular);
          font-size: var(--table--data-thead-pc-font-size);
          color: var(--table--data-thead-color-text);
          text-align: left;
          @include size-medium {
            font-size: var(--table--data-thead-mobile-font-size);
          }
        }
      }
    }
    > tbody {
      > tr {
        &[data-select='false'] {
          > th,
          > td {
            background-color: var(--light-color-surface-secondary-subtler);
          }
        }
        > th,
        > td {
          height: calc((var(--table--data-tbody-pc-font-size) * 1.5) + (var(--table--data-tbody-padding) * 2));
          padding: var(--table--data-tbody-padding) var(--table--data-tbody-padding-sides);
          background-color: var(--table--data-tbody-color-surface);
          border-bottom: var(--table--data-border-width) solid var(--table--data-tbody-color-divider);
          font-size: var(--table--data-tbody-pc-font-size);
          color: var(--table--data-tbody-color-text);
          font-weight: var(--font-weight-regular);
          text-align: left;
          @include size-medium {
            height: calc((var(--table--data-tbody-mobile-font-size) * 1.5) + (var(--table--data-tbody-padding) * 2));
            font-size: var(--table--data-tbody-mobile-font-size);
          }
          .krds-table-btns-wrap {
            display: flex;
            gap: var(--padding-3);
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .krds-btn {
              min-width: 6.8rem;
            }
          }
          > a {
            &:not([class]) {
              max-width: fit-content;
              @include ellipsis(1);
            }
          }
          > button {
            &.krds-btn.link {
              max-width: fit-content;
              @include ellipsis(1);
            }
          }
        }
      }
    }
    tr.fiexd {
      background-color: var(--light-color-element-primary-lighter);
      td,
      th {
        background-color: var(--light-color-element-primary-lighter);
      }
    }
    &.center {
      > tbody {
        td,
        th {
          text-align: center;
        }
      }
    }
  }

  .krds-table-info {
    margin-bottom: 2rem;
  }

  .krds-table-title {
    margin-bottom: var(--number-10);
    font-size: var(--pc-font-size-heading-medium);
    font-weight: var(--font-weight-bold);
    color: var(--light-color-text-bolder);

    @include size-medium {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 1;
      font-size: var(--mobile-font-size-heading-medium);
      background-color: var(--color-light-alpha-white100);
    }
  }

  &.scroll {
    overflow-x: auto;
    overflow-y: hidden;
    .tbl {
      width: 100%;
    }
  }

  &.write {
    padding: var(--number-9) 0 var(--pc-padding-card-medium);
    border-top: var(--number-2) solid #000;
    border-bottom: 0.1rem solid var(--#{$mode-setting}-color-border-gray-light);

    .krds-table-title {
      margin-bottom: var(--number-7);
    }
    .tbl {
      > tbody {
        > tr {
          > th,
          > td {
            border-bottom: none;
          }
        }
      }
      th.al {
        padding: 0;
      }
      @include size-medium {
        min-width: 100%;
      }
    }
  }

  &.row {
    border-top: 0.1rem solid var(--light-color-border-gray-dark);
    .tbl {
      > tbody {
        > tr {
          > th {
            padding: var(--padding-5);
            border-right: var(--table--data-border-width) solid var(--table--data-tbody-color-divider);
            background-color: var(--light-color-surface-gray-subtler);
            color: var(--light-color-text-bolder);
          }
        }
      }
      + .krds-btns-wrap {
        margin-top: var(--gap-4);
        .krds-btn {
          min-width: 0;
          width: auto !important;
        }
      }
    }
    + .krds-btns-wrap.between02 {
      margin-top: var(--gap-8);
    }
  }

  &.center {
    .tbl {
      > thead,
      > tbody {
        > tr {
          > th,
          > td {
            text-align: center;
            > .krds-btn,
            > .krds-form-select {
              width: 100%;
            }
            > .krds-badge {
              min-width: 7rem;
              &.long {
                min-width: 12rem;
              }
            }
            > .point {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              gap: var(--gap-2);
              flex-wrap: wrap;
              .svg-icon {
                flex: none;
              }
            }
            > .krds-btn.link {
              width: auto;
            }
          }
        }
      }
    }
    + .krds-btns-wrap.center {
      margin-top: var(--gap-7);
    }
    + .krds-btns-wrap.right {
      margin-top: var(--gap-8);
    }
  }
  &.full {
    width: 100%;
    .tbl {
      min-width: 100%;
    }
    & + .krds-pagination {
      margin-top: var(--number-10);
    }
  }
}

.krds-table-info {
  display: flex;
  align-items: center;
  margin-bottom: var(--gap-4);
  font-size: var(--pc-font-size-label-small);
  color: var(--light-color-text-subtle);
  flex-wrap: wrap;

  &.between {
    justify-content: space-between;
  }

  @include size-medium {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: var(--mobile-font-size-label-small);
    background-color: var(--color-light-alpha-white100);
  }
  .count {
    display: flex;
    gap: var(--gap-2);
    span {
      font-weight: var(--font-weight-bold);
      color: var(--light-color-text-basic);
    }

    & + .count {
      position: relative;
      margin-left: var(--gap-5);
      padding-left: var(--gap-5);
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0.1rem;
        height: var(--size-height-2);
        background-color: var(--light-color-divider-gray);
        transform: translateY(-50%);
      }
    }
  }

  .unit {
    font-size: var(--pc-font-size-body-small);
    color: var(--light-color-text-subtle);
    @include size-medium {
      font-size: var(--mobile-font-size-body-small);
    }
  }
}
@include size-medium {
  .krds-table-wrap {
    overflow-x: auto;
    width: calc(100vw - (var(--contents-padding-x) * 2));
    @include scrollbar();
    .tbl {
      min-width: max-content;
      width: clamp(100%, 100%, 100%);
    }

    &.mob-scroll {
      width: 100%;
      .tbl {
        min-width: 100%;
      }
      th,
      td {
        // white-space: nowrap;
      }
    }

    &.mob-col.row {
      .tbl {
        > colgroup {
          col {
            width: auto !important;
          }
        }
      }
    }

    &.center {
      + .krds-btns-wrap.center {
        margin-top: 0;
      }
    }

    @include size-medium {
      &.write.mob-scroll {
        tbody {
          > tr {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
    @include size-small {
      &.write {
        border-bottom: none;
      }
    }
  }
}
@media (max-width: 435px) {
  .krds-table-wrap {
    &.mob-col {
      .tbl {
        > tbody {
          > tr {
            display: flex;
            flex-direction: column;
            > th {
              border-right: none;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

//고대비모드
@include color-mode($mode: high-contrast) {
  //모드 설정
  $mode-setting: high-contrast;
  .krds-table-wrap {
    @include table-color-variable(#{$mode-setting});
  }
}
